<template>
  <div v-if="order">
    <v-row>
      <v-col>
        <div class="text-h4">#{{ order.orderId }}</div>
        <div class="name d-block text-h6">
          <span v-if="order.shipmentDetails.salutation === 'FEMALE'" class="salutation">Mevr. </span>
          <span v-if="order.shipmentDetails.salutation === 'MALE'" class="salutation">Dhr. </span>
          <span class="firstName">{{ order.shipmentDetails.firstName }} </span>
          <span class="surName">{{ order.shipmentDetails.surName }}</span>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <div>Besteld op: {{ order.orderPlacedDateTime }}</div>
        <div>Status: {{ order.status }}</div>
        <div v-if="order.batch_id">Batch:
          <router-link :to="{name: 'orderBatch', params: {id: order.batch_id}}">{{ order.batch_id }}</router-link>
        </div>
        <div v-if="order.shipments && order.shipments.length > 0">
          <h4>Shipments</h4>
          <div v-for="(shipment) in order.shipments" :key="shipment.id">
            <span>{{ new Date(shipment.created_at).toLocaleString() }} - </span>
            <a v-if="shipment.product_code !== '6400'"
               :href="'https://jouw.postnl.nl/track-and-trace/'+shipment.barcode+'-'+order.shipmentDetails.countryCode+'-'+order.shipmentDetails.zipCode"
               target="_blank">{{ shipment.barcode }}
            </a>
            <span v-else>briefpost</span>
            <v-tooltip bottom color="black">
              <template v-slot:activator="{on, attrs }">
                <v-btn v-bind="attrs"
                       v-on="on"
                       icon
                       @click="copyBarcode(shipment.barcode)">
                  <v-icon small>mdi-content-copy</v-icon>
                </v-btn>
              </template>
              <span>Kopiëren</span>
            </v-tooltip>
          </div>
          <v-dialog v-model="newShipmentDialog" width="500">
            <template v-slot:activator="{on,attrs}">
              <v-btn v-bind="attrs" v-on="on"
                     outlined x-small>
                <v-icon small left>mdi-plus</v-icon>
                nieuwe zending
              </v-btn>
            </template>
            <v-card>
              <v-card-title>Nieuw zending maken</v-card-title>
              <v-card-text>
                <v-row v-if="loading">
                  <v-col>
                    <v-progress-linear :active="loading" indeterminate color="primary"></v-progress-linear>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    Selecteer de PostNL Product code waarmee je een nieuwe zending wilt maken
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <span>Veelgebruikte product codes:</span>

                    <v-simple-table>
                      <thead>
                      <tr>
                        <th>product code</th>
                        <th>beschrijving</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr @click="shipment_product_code = 2929">
                        <td>2929</td>
                        <td>Brievenbuspakje+ business</td>
                      </tr>
                      <tr @click="shipment_product_code = 2928">
                        <td>2928</td>
                        <td>Brievenbuspakje+ consumer</td>
                      </tr>
                      <tr @click="shipment_product_code = 3085">
                        <td>3085</td>
                        <td>Standaard pakket</td>
                      </tr>
                      <tr @click="shipment_product_code = 3089">
                        <td>3089</td>
                        <td>Handtekening voor ontvangst + alleen huisadres</td>
                      </tr>
                      <tr @click="shipment_product_code = 4941">
                        <td>4941</td>
                        <td>Pakket Nederland-België + alleen huisadres</td>
                      </tr>
                      <tr @click="shipment_product_code = 6400">
                        <td>6400</td>
                        <td>Partijenpost buitenland (prioriteit)</td>
                      </tr>
                      </tbody>
                    </v-simple-table>
                    <span>
                      Klik <a href="https://developer.postnl.nl/browse-apis/send-and-track/products/" target="_blank">hier</a>
                      voor een volledig overzicht.</span>
                  </v-col>
                </v-row>

                <v-form @submit.prevent="newShipment">
                  <v-row>
                    <v-col>
                      <v-text-field
                          hide-details="auto"
                          label="product code"
                          v-model="shipment_product_code"
                          type="number"
                          clearable
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn type="submit" text color="primary">Versturen</v-btn>
                    </v-col>
                  </v-row>
                </v-form>

              </v-card-text>
            </v-card>
          </v-dialog>
        </div>
      </v-col>
    </v-row>

    <v-row class="ship-and-billing-details">
      <v-col class="shipment-details col-md-5 col-lg-3" cols="12">
        <h6>Verzendinformatie</h6>
        <div>
              <span class="company d-block">
                <v-icon v-if="companyFieldHasVATNumber(order.shipmentDetails.company)" color="orange"
                        left>
                  mdi-alert
                </v-icon>
                {{ order.shipmentDetails.company }}
              </span>
        </div>
        <div>
          <span class="firstName">{{ order.shipmentDetails.firstName }} </span>
          <span class="surName">{{ order.shipmentDetails.surName }}</span>
        </div>
        <div>
          <span class="streetName">{{ order.shipmentDetails.streetName }} </span>
          <span class="houseNumber">{{ order.shipmentDetails.houseNumber }}</span>
          <span v-if="order.shipmentDetails.houseNumberExtension"
                class="houseNumber_extension"> - {{
              order.shipmentDetails.houseNumberExtension
            }}</span>
          <span
              v-if="order.shipmentDetails.extraAddressInformation"
              class="houseNumber_extension d-block">
                <v-icon color="orange" left>mdi-alert</v-icon>
                {{ order.shipmentDetails.extraAddressInformation }}
              </span>
        </div>
        <div>
          <span class="zipCode">{{ order.shipmentDetails.zipCode }} </span>
          <span class="city">{{ order.shipmentDetails.city }}</span>
        </div>
      </v-col>
      <v-col class="billing-details">
        <h6>Factureringsinformatie</h6>
        <div>
          <span class="company d-block">{{ order.billingDetails.company }}</span>
        </div>
        <div>
          <span class="firstName">{{ order.billingDetails.firstName }} </span>
          <span class="surName">{{ order.billingDetails.surName }}</span>
        </div>
        <div>
          <span class="streetName">{{ order.billingDetails.streetName }} </span>
          <span class="houseNumber">{{ order.billingDetails.houseNumber }}</span>
          <span v-if="order.billingDetails.houseNumberExtension"
                class="houseNumber_extension"> - {{
              order.billingDetails.houseNumberExtension
            }}</span>
          <span
              v-if="order.billingDetails.extraAddressInformation"
              class="houseNumber_extension d-block">
                <v-icon color="orange" left>mdi-alert</v-icon>
                {{ order.billingDetails.extraAddressInformation }}
              </span>
        </div>
        <div>
          <span class="zipCode">{{ order.billingDetails.zipCode }} </span>
          <span class="city">{{ order.billingDetails.city }}</span>
        </div>
        <div class="mt-2">
          <span class="vatNumber">BTW: {{ order.billingDetails.vatNumber }} </span>
        </div>
        <div>
          <span class="kvkNumber">KVK: {{ order.billingDetails.kvkNumber }} </span>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="orderItems">
        <table class="items-table">
          <thead>
          <tr class="text-left">
            <th>ean</th>
            <th>Referentie</th>
            <th>Titel</th>
            <th>Aantal</th>
            <th>Per stuk</th>
            <th>Totaal</th>
            <th>Uiterste leverdatum</th>
            <th>Logistiek</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item) in order.orderItems" :key="item.orderItemId" class="item"
              :class="{'strikethrough': item.deleted_at}">
            <td class="_ean">{{ item.product.ean }}</td>
            <td class="_reference">{{ item.offer.reference }}</td>
            <td class="_title">{{ item.product.title }}</td>
            <td class="_quantity">{{ item.quantity }}</td>
            <td class="_unitPrice">
              {{ new Intl.NumberFormat('nl-NL', {style: 'currency', currency: 'EUR'}).format(item.unitPrice) }}
            </td>
            <td class="_totalOrderItemPrice">
              {{
                new Intl.NumberFormat('nl-NL', {
                  style: 'currency',
                  currency: 'EUR'
                }).format(item.quantity * item.unitPrice)
              }}
            </td>
            <td class="_latestDeliveryDate" v-if="item.fulfilment.latestDeliveryDate">
              {{ new Date(item.fulfilment.latestDeliveryDate).toLocaleDateString() }}
            </td>
            <td>{{item.fulfilment.method === "FBR" && "Verkoper" || "LVB"}}</td>
          </tr>
          <tr class="total">
            <td colspan="5">Totaal</td>
            <td>{{
                new Intl.NumberFormat('nl-NL', {style: 'currency', currency: 'EUR'}).format(order.grand_total_price)
              }}
            </td>
          </tr>
          </tbody>
        </table>
      </v-col>
    </v-row>

  </div>
</template>

<script>
import {companyFieldHasVATNumber} from "../../utils/Utils";
import axios from "axios";

export default {
  name: "order-details",
  props: {
    order: null,
  },
  data: () => ({
    companyFieldHasVATNumber,
    error: null,
    data: {
      barcode: null,
    },
    newShipmentDialog: false,
    shipment_product_code: null,
    loading: false,
  }),
  mounted() {
    // this.barcode = "qweqwe"
  },
  methods: {
    copyBarcode(barcode) {
      const clipboardData = event.clipboardData || window.clipboardData || event.originalEvent?.clipboardData || navigator.clipboard;
      clipboardData.writeText(barcode);
    },
    newShipment() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + this.order.orderId + '/shipments/new', {
        order: this.order,
        shipment_product_code: this.shipment_product_code,
      })
          .then((response) => {
            this.order.shipments.push(response.data);
          })
          .catch((error) => {
            this.error = error;
          })
          .finally(() => {
            this.newShipmentDialog = false;
            this.loading = false;
          })
    }
  }
}
</script>

<style lang="scss" scoped>
.billing-details, .shipment-details {
  .company {
    min-height: 1em;
  }
}

.orderItems {
  .items-table {
    font-size: 0.8em;
    border-collapse: collapse;

    .total {
      border-top: 3px solid black;
      border-bottom: none;
      background-color: #f5f5f5;
    }

    td, th {
      padding: 0 6px;
      position: relative;
    }

    .item {
      border-bottom: 1px solid black;
    }

    .strikethrough td:before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 0;
      border-bottom: 1px solid #111;
      width: 100%;
    }
  }
}
</style>
