<template>
  <v-dialog v-model="deleteOrderDialog" width="500">
    <template v-slot:activator="{on,attrs}">
      <div v-bind="attrs" v-on="on">
        <v-icon left color="red">mdi-delete</v-icon>
        Verwijderen
      </div>
    </template>
    <v-card>
      <v-card-title>Bestelling verwijderen</v-card-title>
      <v-card-text>
        <v-row v-if="loading">
          <v-col>
            <v-progress-linear :active="loading" indeterminate color="primary"></v-progress-linear>
          </v-col>
        </v-row>
        <v-row v-if="deleteOrderSuccess">
          <v-col>
            <v-alert type="success">Success! De item(s) zijn geannuleerd: bestelinformatie blijft inzichtelijk
            </v-alert>
          </v-col>
        </v-row>
        <v-form @submit.prevent="deleteOrder" v-model="validDeleteOrderForm" ref="form">
          <v-row v-if="!hardDeleteOrder">
            <v-col>
              Selecteer welke items in deze bestelling je wilt verwijderen.
            </v-col>
          </v-row>
          <v-row v-if="order && !hardDeleteOrder">
            <v-col>
              <div v-for="orderItem in order.orderItems" :key="orderItem.orderItemId">
                <v-checkbox :disabled="orderItem.deleted_at !== null"
                            hide-details="auto"
                            v-model="orderItem.to_delete"
                            :label="orderItem.quantity + 'x - ' + orderItem.offer.reference"></v-checkbox>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <v-switch v-model="cancelOrderItemInBol" label="annuleer items in Bol"
                        :disabled="hardDeleteOrder"
                        hide-details="auto"></v-switch>
            </v-col>
            <v-col cols="6">
              <v-switch v-model="hardDeleteOrder" label="verwijder ALLE bestelinformatie"
                        hide-details="auto"></v-switch>
            </v-col>
            <v-col cols="12" v-if="cancelOrderItemInBol && !hardDeleteOrder" style="color:red;">
              Let op: annuleringen waarvoor de klant geen verzoek heeft ingediend zullen negatief tellen in je
              prestatiescore.
            </v-col>
            <v-col cols="12" v-if="hardDeleteOrder" style="color:red;">
              <div class="font-weight-bold">WAARSCHUWING: HIERMEE WORDEN ALLE GEGEVENS VAN DEZE BESTELLING VERWIJDERD.</div>
              <div class="my-1 font-italic">Als de bestelling nog niet verwerkt is in Bol dan zal de bestelling bij de volgende geplande
                synchronisatie opnieuw worden aangemaakt.
              </div>
              <div class="my-1 font-italic">Indien de bestelling reeds verwerkt is worden de gegevens DEFINITIEF VERWIJDERD.
              </div>
              <div>Weet je het heel zeker?! Typ hieronder "ALLES VERWIJDEREN" en klik op bevestigen.
              </div>
            </v-col>
          </v-row>
          <v-row v-if="!hardDeleteOrder">
            <v-col>Weet je zeker dat je deze items wilt verwijderen? Typ "VERWIJDEREN" hieronder en klik op
              bevestigen.
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field v-if="!hardDeleteOrder"
                            hide-details="auto"
                            label="VERWIJDEREN"
                            :rules="[v => (v || '' ) === 'VERWIJDEREN' || 'Typ \'VERWIJDEREN\'']"
              ></v-text-field>
              <v-text-field v-if="hardDeleteOrder"
                            hide-details="auto"
                            label="ALLES VERWIJDEREN"
                            :rules="[v => (v || '' ) === 'ALLES VERWIJDEREN' || 'Typ \'ALLES VERWIJDEREN\'']"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn type="submit" text color="primary">Bevestigen</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>

import axios from "axios";

export default {
  name: "order-delete-dialog",
  props: {
    value: null
  },
  data: () => ({
    order: null,
    error: null,
    loading: false,
    deleteOrderDialog: false,
    deleteOrderSuccess: false,
    validDeleteOrderForm: true,
    cancelOrderItemInBol: false,
    hardDeleteOrder: false
  }),
  mounted() {
    this.order = this.value;
  },
  methods: {
    deleteOrder() {
      if (this.$refs.form.validate()) {

        this.order.orderItems.forEach(orderItem => {
          if (orderItem.to_delete) {
            this.loading = true;
            this.deleteOrderSuccess = false;
            axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/orderItem/' + orderItem.orderItemId + '/delete', {
              "cancel": this.cancelOrderItemInBol
            })
                .then((response) => {
                  this.deleteOrderSuccess = response.data.deleted;
                  this.order = response.data.order;
                  this.$emit('input', this.order)
                })
                .catch((error) => {
                  this.error = error.response;
                  console.log(error);
                })
                .finally(() => {
                  this.loading = false;
                })
          } else if (this.hardDeleteOrder) {
            this.loading = true;
            this.deleteOrderSuccess = false;
            axios.delete(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + this.order.orderId)
                .then((response) => {
                  this.deleteOrderSuccess = response.data.deleted;
                  this.order = null;
                  this.$emit('input', this.order)
                })
                .catch((error) => {
                  this.error = error.response;
                  console.log(error);
                })
                .finally(() => {
                  this.loading = false;
                })
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>