<template>
  <v-dialog v-model="changeBatchDialog" width="500">
    <template v-slot:activator="{on,attrs}">
      <div v-bind="attrs" v-on="on">
        <v-icon left color="red">mdi-inbox-multiple-outline</v-icon>
        Batch wijzigen
      </div>
    </template>
    <v-card>
      <v-card-title>Batch wijzigen</v-card-title>
      <v-card-text>
        <v-row v-if="loading">
          <v-col>
            <v-progress-linear :active="loading" indeterminate color="primary"></v-progress-linear>
          </v-col>
        </v-row>
        <v-row v-if="changeBatchSuccess">
          <v-col>
            <v-alert type="success">Success! Het batchnummer is gewijzigd naar "{{this.selectedBatch ? this.selectedBatch : 'geen'}}".
            </v-alert>
          </v-col>
        </v-row>
        <v-form @submit.prevent="changeBatch" v-model="validChangeBatchForm" ref="form" v-if="batches.length">
          <v-row>
            <v-col>
              <v-select v-model="selectedBatch"
                        :items="batches"
                        item-value="id"
                        :item-text="(item) => {return `${item.id} - ${new Date(item.created_at).toLocaleDateString()}`}"
                        label="batch id"
                        clearable
                        @change="changeBatchSuccess = false"
                        :rules="[v => (v || null ) !== order.batch_id || `Bestelling is al onderdeel van batch ${v}. Selecteer een andere batch`]"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn type="submit" text color="primary">Bevestigen</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>

import axios from "axios";

export default {
  name: "order-change-batch-dialog",
  props: {
    value: null
  },
  data: () => ({
    order: null,
    batches: [],
    error: null,
    loading: false,
    changeBatchDialog: false,
    changeBatchSuccess: false,
    validChangeBatchForm: true,
    selectedBatch: null,
  }),
  mounted() {
    this.order = this.value;
    this.loading = true;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/order-batches/all-batch-ids')
        .then((response) => {
          this.batches = response.data.reverse();
        })
        .catch((error) => {
          this.error = error.response;
          console.log(error);
        })
        .finally(() => {
          this.loading = false;
        })
  },
  methods: {
    changeBatch() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.changeBatchSuccess = false;
        axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/'+this.order.orderId+'/change-batch', {
          "batch_id": this.selectedBatch,
        })
            .then((response) => {
              this.changeBatchSuccess = true
              this.order = response.data.order;
              this.$emit('input', this.order)
            })
            .catch((error) => {
              this.error = error.response;
              console.log(error);
            })
            .finally(() => {
              this.loading = false;
            })
      }
    }
  }
}
</script>

<style scoped>

</style>