<template>
  <v-container>
    <v-row v-if="loading">
      <v-col>
        <v-progress-linear indeterminate color="primary"></v-progress-linear>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="batches">
        <v-data-table
            :headers="headers"
            :items="batches"
            :footer-props="{
              'items-per-page-options': [-1, 5, 10, 25, 50, 100]
            }"
            :items-per-page="25"
        >
          <template v-slot:item.status="{item}">
            <v-chip
                :color="
                  item.status === 'COMPLETED' && '#56d720' ||
                  item.status === 'PROCESSING' && '#bfbfbf' ||
                  '#fff5da'"
                :text-color="
                  item.status === 'COMPLETED' && 'black' ||
                  item.status === 'PROCESSING' && 'black' ||
                  'black'"
                class="text-lowercase align-self-center"
            >
              <v-avatar left class="d-none" :class="{'d-inline-flex': item.status === 'COMPLETED'}">
                <v-icon>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              <v-avatar left class="d-none" :class="{'d-inline-flex': item.status === 'PROCESSING'}">
                <v-icon>mdi-timeline-clock</v-icon>
              </v-avatar>
              {{item.status}}
            </v-chip>
          </template>

          <template v-slot:item.id="{item}">
            <router-link :to="{name: 'orderBatch', params: {id: item.id}}">
              #{{item.id}}
            </router-link>
          </template>

          <template v-slot:item.created_at="{item}">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs"
                              v-on="on"
                        >{{ formatOrderTime(item.created_at, 'ddd DD-MM-YYYY, HH:mm') }}</span>
              </template>
              <span>{{ formatOrderTime(item.created_at, 'DD-MM-YYYY, HH:mm:ss') }}</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "Batches",
  data: () => ({
    batches: [],
    totalBatches: 0,
    loading: false,
    page: 1,
    headers: [
      {text: 'Status', value: 'status', align: 'start'},
      {text: 'Batchnummer', value: 'id'},
      {text: 'Aantal orders', value: 'order_count'},
      {text: 'Datum', value: 'created_at'},
      {text: '', value: 'data-table-expand'},
    ],
  }),

  mounted() {
    this.loading = true;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/order-batches')
    .then(response => {
      this.batches = response.data;
      this.loading = false;
      this.totalBatches = response.data.length;
    })
  },

  methods: {
    formatOrderTime(time, format) {
      return moment(time).locale('nl').format(format);
    },
    test(event) {
      console.log(event);
    }
  }
}
</script>

<style scoped lang="scss">
.batch-status {
  flex-basis: 125px;
}
</style>