<template>
  <v-container>
    <v-row>
      <v-col v-if="error">
        <v-alert type="error">{{ error }}</v-alert>
      </v-col>
    </v-row>
    <v-row v-if="order">
      <div class="text-h4">#{{ order.orderId }}</div>
      <v-container>
        <v-form id="update_order_details" @submit.prevent="submit">
          <v-row>
            <v-col cols="12" class="col-md-8 col-lg-4">
              <h4 class="mb-6 text-h6">Verzendopties</h4>
              <div>
                <v-select outlined dense label="verzendmethode"
                          clearable
                          :items="transporterOptions"
                          item-text="label"
                          item-value="value"
                          v-model="order.last_shipment.transporter_code"></v-select>
                <v-text-field outlined dense label="trackingcode" v-model="order.last_shipment.barcode"></v-text-field>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              <h6 class="mb-6">Verzendinformatie</h6>
              <div>
                <v-text-field outlined dense label="voornaam" v-model="order.shipmentDetails.firstName"></v-text-field>
                <v-text-field outlined dense label="achternaam" v-model="order.shipmentDetails.surName"></v-text-field>
                <v-text-field outlined dense label="bedrijfsnaam" v-model="order.shipmentDetails.company"></v-text-field>
                <v-text-field outlined dense label="straatnaam" v-model="order.shipmentDetails.streetName"></v-text-field>
                <v-text-field outlined dense label="huisnummer" v-model="order.shipmentDetails.houseNumber"></v-text-field>
                <v-text-field outlined dense label="huisnummer toevoeging"
                              v-model="order.shipmentDetails.houseNumberExtension"></v-text-field>
                <v-text-field outlined dense label="extra adres informatie"
                              v-model="order.shipmentDetails.extraAddressInformation"></v-text-field>
                <v-text-field outlined dense label="postcode" v-model="order.shipmentDetails.zipCode"></v-text-field>
                <v-text-field outlined dense label="plaatsnaam" v-model="order.shipmentDetails.city"></v-text-field>
              </div>
            </v-col>
            <v-col cols="6">
              <h6 class="mb-6">Factureringsinformatie</h6>
              <div>
                <v-text-field outlined dense label="voornaam" v-model="order.billingDetails.firstName"></v-text-field>
                <v-text-field outlined dense label="achternaam" v-model="order.billingDetails.surName"></v-text-field>
                <v-text-field outlined dense label="bedrijfsnaam" v-model="order.billingDetails.company"></v-text-field>
                <v-text-field outlined dense label="straatnaam" v-model="order.billingDetails.streetName"></v-text-field>
                <v-text-field outlined dense label="huisnummer" v-model="order.billingDetails.houseNumber"></v-text-field>
                <v-text-field outlined dense label="huisnummer toevoeging"
                              v-model="order.billingDetails.houseNumberExtension"></v-text-field>
                <v-text-field outlined dense label="extra adres informatie"
                              v-model="order.billingDetails.extraAddressInformation"></v-text-field>
                <v-text-field outlined dense label="postcode" v-model="order.billingDetails.zipCode"></v-text-field>
                <v-text-field outlined dense label="plaatsnaam" v-model="order.billingDetails.city"></v-text-field>
                <v-text-field outlined dense label="btw-nummer" v-model="order.billingDetails.vatNumber"></v-text-field>
                <v-text-field outlined dense label="kvk-nummer" v-model="order.billingDetails.kvkNumber"></v-text-field>
                <v-text-field outlined dense label="factuurreferentie" v-model="order.billingDetails.orderReference"></v-text-field>
              </div>
            </v-col>
          </v-row>
          <v-btn type="submit" color="success" form="update_order_details">Update</v-btn>
          <v-checkbox v-model="regenerateOrderFiles" color="tertiary" class="mt-6">
            <template v-slot:label>
                <v-tooltip top color="black">
                  <template v-slot:activator="{ on }">
                      <span v-on="on">Update Order PDFs <v-icon color="tertiary" class="pb-1" small>mdi-information-outline</v-icon></span>
                  </template>
                  <span>Maak een nieuwe pakbon, factuur en verzendlabel (op basis van welke informatie is aangepast)</span>
                </v-tooltip>
            </template>
          </v-checkbox>
        </v-form>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "EditOrder",
  data: () => ({
    order: null,
    error: null,
    transporterOptions: [
      {label: 'PostNL', value: 'TNT'},
      {label: 'PostNL Briefpost', value: 'TNT_BRIEF'},
      {label: 'PostNL extra@home', value: 'TNT-EXTRA'},
      {label: 'UPS', value: 'UPS'},
      {label: 'TNT Express', value: 'TNT-EXPRESS'},
      {label: 'Dynalogic', value: 'DYL'},
      {label: 'DPD Nederland', value: 'DPD-NL'},
      {label: 'DPD België', value: 'DPD-BE'},
      {label: 'Bpost België', value: 'BPOST_BE'},
      {label: 'Bpost Briefpost', value: 'BPOST_BRIEF'},
      {label: 'DHLFORYOU', value: 'DHLFORYOU'},
      {label: 'GLS', value: 'GLS'},
      {label: 'FedEx Nederland', value: 'FEDEX_NL'},
      {label: 'FedEx Belgie', value: 'FEDEX_BE'},
      {label: 'Anders', value: 'OTHER'},
      {label: 'DHL', value: 'DHL'},
      {label: 'DHL Germany', value: 'DHL_DE'},
      {label: 'DHL Global mail', value: 'DHL-GLOBAL-MAIL'},
      {label: 'Transportservice Nederland', value: 'TSN'},
      {label: 'Fiege', value: 'FIEGE'},
      {label: 'TransMission', value: 'TRANSMISSION'},
      {label: 'Parcel.nl', value: 'PARCEL-NL'},
      {label: 'LogoiX', value: 'LOGOIX'},
      {label: 'Packs', value: 'PACKS'},
      {label: 'Bezorgafspraak', value: 'COURIER'},
      {label: 'NedWRK (Red je pakketje)', value: 'RJP'},
    ],
    regenerateOrderFiles: true,
  }),

  mounted() {
    const orderId = this.$route.params.id;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + orderId + '?full=true')
        .then((response) => {
          this.order = response.data;
          this.order.last_shipment = this.order.shipments[this.order.shipments.length -1]
        })
        .catch((error) => {
          this.error = error;
        })
  },

  methods: {
    submit() {
      const order = this.order;

      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + order.orderId, {order: order, regenerateOrderFiles: this.regenerateOrderFiles})
          .then(() => {
            this.$router.push({name: 'Order', params: {id: order.orderId}});
          })
          .catch(error => {
            console.log(error);
          })
    }
  }
}
</script>

<style scoped>

</style>