<template>
  <v-container>
    <v-row>
      <v-col v-if="error">
        <v-alert type="error">{{ error }}</v-alert>
      </v-col>
    </v-row>
    <v-row v-if="shippingMethod">
      <div class="text-h4">{{ shippingMethod.transporter_name }}</div>
      <v-container>
        <v-form id="update_shipping_method" @submit.prevent="submit">
          <v-row>
            <v-col cols="12" class="col-md-8 col-lg-4 mt-4">
              <div>
                <v-text-field outlined dense label="verzendmethode naam" v-model="shippingMethod.transporter_name"></v-text-field>
                <v-text-field outlined dense label="transporter code" v-model="shippingMethod.transporter_code"></v-text-field>
                <v-switch class="my-4" outlined dense label="verzenden met track & trace" v-model="shippingMethod.track_and_trace"></v-switch>
                <v-switch class="my-4" outlined dense label="standaard verzendmethode" v-model="shippingMethod.default"></v-switch>
              </div>
            </v-col>
          </v-row>
          <v-row>
          </v-row>
          <v-btn type="submit" color="success" form="update_shipping_method">Update</v-btn>
        </v-form>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "EditShippingMethod",
  data: () => ({
    shippingMethod: null,
    error: null,
  }),

  mounted() {
    const shippingMethodId = this.$route.params.id;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods/' + shippingMethodId)
        .then((response) => {
          this.shippingMethod = response.data;
        })
        .catch((error) => {
          this.error = error;
        })
  },

  methods: {
    submit() {
      const shippingMethod = this.shippingMethod;

      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods/' + shippingMethod.transporter_code, {shippingMethod: shippingMethod})
          .then(() => {
            this.$router.push({name: 'Options'});
          })
          .catch(error => {
            console.log(error);
          })
    }
  }
}
</script>

<style scoped>

</style>