<template>
  <v-container>
    <v-row v-if="offer">
      <v-col>
        <div class="mb-2">
          <span class="nav-back"><router-link :to="{name: 'Offers'}">producten</router-link>/{{ offer.offerId }}</span>
        </div>
        <div class="text-h5">Product bewerken</div>
      </v-col>
    </v-row>

    <v-row class="loading" v-if="loading">
      <v-col>
        <v-progress-linear :active="loading" indeterminate color="primary"></v-progress-linear>
      </v-col>
    </v-row>
    <v-row class="alerts" v-if="success">
      <v-col cols="12">
        <v-alert type="success" v-model="success" dismissible dense>Product is successvol aangepast</v-alert>
      </v-col>
    </v-row>

    <v-row v-if="offer">
      <v-form v-model="validOfferForm" @submit.prevent="updateOffer" ref="form">
        <v-col>
          <v-simple-table>
            <template v-slot:default>
              <tbody>
              <tr>
                <td>offerId</td>
                <td>{{ offer.offerId }}</td>
              </tr>
              <tr>
                <td>ean</td>
                <td>{{ offer.ean }}</td>
              </tr>
              <tr>
                <td>interne referentie</td>
                <td>
                  <v-text-field v-model="offer.reference" label="interne referentie"
                                hide-details="auto"
                                :rules="[v => (v || '' ).length <= 20 || 'Referentie mag miximaal 20 karakters lang zijn']"
                  ></v-text-field>
                </td>
              </tr>
              <tr>
                <td>product titel</td>
                <td>{{ offer.store.productTitle }}</td>
              </tr>
              <tr>
                <td>levertijd</td>
                <td>
                  <v-select
                      label="levertijd"
                      :items="deliveryCodes"
                      item-text="deliveryCode"
                      hide-details="auto"
                      v-model="offer.fulfilment.deliveryCode"></v-select>
                </td>
              </tr>
              <tr>
                <td>verzendmethode</td>
                <td>
                  <v-select
                      label="verzendmethode"
                      :items="transporterOptions"
                      item-text="label"
                      hide-details="auto"
                      clearable
                      v-model="offer.shipping_method_id"></v-select>
                </td>
              </tr>
              <tr>
                <td>Shipment Product code</td>
                <td>
                  <v-text-field v-model="offer.shipment_product_code" label="shipment product code"
                                hide-details="auto"
                                type="number"
                  ></v-text-field>
                </td>
              </tr>
              <tr>
                <td>jewelcase</td>
                <td>
                  <v-checkbox v-model="offer.jewelcase" label="Inclusief Jewelcase"></v-checkbox>
                </td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>


          <div class="mt-4">
            <v-btn type="submit" color="primary">Update</v-btn>
            <v-checkbox v-model="syncOfferToBol" label="Synchroniseer product naar Bol"></v-checkbox>
          </div>

        </v-col>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "EditOffer",
  data: () => ({
    offer: null,
    loading: false,
    success: false,
    syncOfferToBol: true,
    validOfferForm: true,
    deliveryCodes: [
      {deliveryCode: "24uurs-23", description: "Voor 23:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-22", description: "Voor 22:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-21", description: "Voor 21:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-20", description: "Voor 20:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-19", description: "Voor 19:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-18", description: "Voor 18:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-17", description: "Voor 17:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-16", description: "Voor 16:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-15", description: "Voor 15:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-14", description: "Voor 14:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-13", description: "Voor 13:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-12", description: "Voor 12:00 uur besteld, morgen in huis."},
      {deliveryCode: "1-2d", description: "Levering binnen 1 tot 2 dagen"},
      {deliveryCode: "2-3d", description: "Levering binnen 2 tot 3 dagen"},
      {deliveryCode: "3-5d", description: "Levering binnen 3 tot 5 dagen"},
      {deliveryCode: "4-8d", description: "Levering binnen 4 tot 8 dagen"},
      {deliveryCode: "1-8d", description: "Levering binnen 1 tot 8 dagen"},
      {
        deliveryCode: "MijnLeverbelofte",
        description: "Je eigen op maat gemaakte leverbelofte. Je kunt deze aanpassen in je verkoopaccount."
      },
      {deliveryCode: "VVB", description: "Verzenden Via Bol"},
    ],
    transporterOptions: [
      {label: 'PostNL', value: 'TNT'},
      {label: 'PostNL Briefpost', value: 'TNT_BRIEF'},
      {label: 'PostNL extra@home', value: 'TNT-EXTRA'},
      {label: 'UPS', value: 'UPS'},
      {label: 'TNT Express', value: 'TNT-EXPRESS'},
      {label: 'Dynalogic', value: 'DYL'},
      {label: 'DPD Nederland', value: 'DPD-NL'},
      {label: 'DPD België', value: 'DPD-BE'},
      {label: 'Bpost België', value: 'BPOST_BE'},
      {label: 'Bpost Briefpost', value: 'BPOST_BRIEF'},
      {label: 'DHLFORYOU', value: 'DHLFORYOU'},
      {label: 'GLS', value: 'GLS'},
      {label: 'FedEx Nederland', value: 'FEDEX_NL'},
      {label: 'FedEx Belgie', value: 'FEDEX_BE'},
      {label: 'Anders', value: 'OTHER'},
      {label: 'DHL', value: 'DHL'},
      {label: 'DHL Germany', value: 'DHL_DE'},
      {label: 'DHL Global mail', value: 'DHL-GLOBAL-MAIL'},
      {label: 'Transportservice Nederland', value: 'TSN'},
      {label: 'Fiege', value: 'FIEGE'},
      {label: 'TransMission', value: 'TRANSMISSION'},
      {label: 'Parcel.nl', value: 'PARCEL-NL'},
      {label: 'LogoiX', value: 'LOGOIX'},
      {label: 'Packs', value: 'PACKS'},
      {label: 'Bezorgafspraak', value: 'COURIER'},
      {label: 'NedWRK (Red je pakketje)', value: 'RJP'},
    ],
  }),
  mounted() {
    const offerId = this.$route.params.id;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers/' + offerId)
        .then((response) => {
          this.offer = response.data;
        })
        .catch((error) => {
          this.error = error;
        })
  },
  methods: {
    updateOffer() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        this.success = false;
        axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers/' + this.offer.offerId, {
          offer: this.offer,
          syncOfferToBol: this.syncOfferToBol
        })
            .then(response => {
              this.loading = false;
              this.success = true;
              console.log(response);
            })
            .catch((error) => {
              this.loading = false;
              this.error = error.response;
              console.log(error);
            })
      }
    }
  }
}
</script>

<style scoped>

</style>