<template>
  <v-container>
    <v-row>
      <v-col v-if="error">
        <v-alert type="error">{{ error }}</v-alert>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col>
        <v-btn outlined @click="getExports">
          <v-icon left color="primary">mdi-microsoft-excel</v-icon>
          exports
        </v-btn>
        <v-btn class="ml-2" outlined @click="getShippingLabels">
          <v-icon left color="primary">mdi-file-pdf-outline</v-icon>
          Verzendlabels
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
            :headers="headers"
            :items="files"
            item-key="filePath"
            :footer-props="{
              'items-per-page-options': [-1, 5, 10, 20, 100]
            }"
            :items-per-page="100"
            multi-sort
            sort-by.sync="fileData"
            :sort-desc="true"
        >

          <template v-slot:item.filePath="{ item }">
            <a href="#" @click="getFile(item.filePath)">{{item.filePath}}</a> <v-icon color="primary" right small>mdi-download</v-icon>
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <code>{{ item }}</code>
            </td>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "Files",
  data: () => ({
    files: [],
    error: null,
    loading: false,
    headers: [
      {text: 'Bestand', value: 'filePath', align: 'start'},
      {text: 'Aanmaakdatum', value: 'fileDate'},
      {text: '', value: 'data-table-expand'},
    ],
  }),

  mounted() {

  },

  methods: {
    getExports() {
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/storage/exports')
          .then((response) => {
            let files = response.data;
            if (files.length > 0) {
              this.files = this.generateFileMetaData(files);
            }
          })
          .catch((error) => {
            this.error = error;
          })
    },
    getShippingLabels() {
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/storage/shipping_labels')
          .then((response) => {
            let files = response.data;
            if (files.length > 0) {
              this.files = this.generateFileMetaData(files);
            }
          })
          .catch((error) => {
            this.error = error;
          })
    },
    generateFileMetaData(files) {
      let filesArray = [];
      files.forEach((fileName) => {
        let file = {};
        file.fileDateString = fileName.replace('exports/BolFactuur ', "").replace(".xlsx", "");
        file.fileDate = moment(file.fileDateString, 'DD-MM-YY HHmmss').format('DD-MM-YY HH:mm');
        file.filePath = fileName;
        filesArray.push(file);
      })
      return filesArray;
    },
    getFile(filePath) {
      const fileName = filePath.replace('exports/', "").replace('shipping_labels/', "");
      const requestData = {
        filePath: filePath
      };
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/storage', requestData ,
          {responseType: 'blob'}
      )
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', fileName);
            document.body.appendChild(link);
            link.click();
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getSpreadsheet() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/spreadsheet', [this.order], {
        responseType: 'blob'
      })
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'factuur-' + this.order.orderId + '.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
  }
}
</script>

<style scoped lang="scss">

</style>