<template>
  <v-container fill-height>
    <v-row>
      <v-col>
        <div class="search-form" id="search">
          <v-form
              @submit.prevent="submitSearch"
          >
            <v-row no-gutters>
              <v-text-field class="order-search-input"
                            outlined
                            label="Zoeken"
                            hide-details="auto"
                            dense
                            type="search"
                            title="Zoek op bestelnummer"
                            placeholder="bestelnummer"
                            append-icon="mdi-magnify"
                            v-model="form.input"
              ></v-text-field>
            </v-row>
          </v-form>
        </div>
      </v-col>
    </v-row>

    <v-row justify="center" align="center">
      <v-col class="text-center" cols="12">
        Ooit komt hier een heel mooi dashboard met interessante informatie... voor nu moeten we het doen met deze
        legendarische productadvertentie van Bol.com
        <v-img
            class="mt-2 mx-auto"
            max-width="500px"
            aspect-ratio="1"
            src="@/assets/Bolreclame.png"
        ></v-img>
      </v-col>
      <v-col class="text-center" cols="12">
        <div class="d-inline-block pa-2">
          <a href="https://nl.jordio.local">Nederland</a>
        </div>
        <div class="d-inline-block pa-2">
          <a href="https://be.jordio.local">België</a>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data: () => ({
    form: {
      input: "",
      options: {
        orderId: true,
      },
    },
  }),
  methods: {
    submitSearch() {
      this.error = null;
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + this.form.input)
          .then(response => {
            switch (response.status) {
              case 200:
                this.$router.push({name: 'Order', params: {id: response.data.orderId}});
                break;
              default:
                //nothing
            }
          })
          .catch(error => {
            this.error = error.response;
            console.log(this.error);
          })
    },
  }
}
</script>

<style scoped>

</style>