<template>
  <v-container class="csv-import">
    <v-row v-if="loading">
      <v-col>
        <v-progress-linear indeterminate color="primary"></v-progress-linear>
      </v-col>
    </v-row>
    <v-row v-if="error">
      <v-col>
        <v-alert type="error">Server Error. Probeer het nog een keer.</v-alert>
      </v-col>
      <v-col cols="12"><code>{{ error }}</code></v-col>
    </v-row>
    <v-row v-if="shipments.cancelled && shipments.cancelled.length > 0">
      <v-col>
        <v-alert type="warning">{{ shipments.cancelled.length }} bestellingen waren geannuleerd tijdens het verwerken
          .Je zult deze bestellingen zelf uit je bestand moeten verwijderen!!!
          <v-row>
            <v-col>
              <v-list light>
                <v-list-item v-for="(cancellation, cancelIndex) in shipments.cancelled" :key="cancelIndex">
                  <v-list-item-content>
                    {{ cancellation.order.orderId }} - {{ cancellation.orderItem.offer.reference }}
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-alert>
      </v-col>
    </v-row>
    <v-row v-if="shipments.success && shipments.success.length > 0 || shipments.skipped.length > 0">
      <v-col>
        <v-alert type="success">{{ shipments.success.length }} successvol verwerkte order-items.
          {{ shipments.skipped.length }} items zijn overgeslagen.
        </v-alert>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <vue-csv-import
            v-model="csv"
            :map-fields="{
            'orderId': 'Referentie',
            'trackAndTrace': 'Barcode',
}"
            :autoMatchFields="true"
            tableClass="csv-fields"
            inputClass="file-input"
            tableSelectClass="select-fields"
            :headers="true"
        >
          <template slot="next" slot-scope="{load}">
            <v-row class="my-4">
              <v-col>
                <v-btn @click.prevent="load" outlined color="primary">Converteren</v-btn>
              </v-col>
            </v-row>
          </template>

          <template slot="thead">
            <thead>
            <tr class="pb-2">
              <td colspan="2" class="red--text font-weight-bold text-decoration-underline">
                <span>Controleer of de gegevens overeenkomen met de veldnamen</span>
              </td>
            </tr>
              <tr class="tr-thead">
                <th>Veld</th>
                <th>Gegevens</th>
              </tr>
            </thead>
          </template>
        </vue-csv-import>
      </v-col>
    </v-row>
    <v-row class="preview-csv mt-6" v-if="csv.length > 0">
      <v-col cols="12">
        <v-row no-gutters>
          <v-col cols="6">
            <v-select
                color="primary"
                :items="transporterOptions"
                item-text="label"
                item-value="value"
                label="Verzendmethode"
                v-model="shipping_method"
                @change="addTransporterCodeToOutput()"
            ></v-select>
          </v-col>
        </v-row>
      </v-col>
      <v-col>
        <v-card flat outlined>
          <v-card-title>Transport Gegevens:</v-card-title>
          <v-card-text>
            <pre id="json" class="csv-json-output">{{csv}}</pre>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="mt-6">
        <v-btn plain :disabled="csv.length <= 0 || !shipping_method" color="primary" @click="shipOrdersWithTransportInstructions">
          <v-icon left>mdi-barcode-scan</v-icon>
          Ship orders met Transport Gegevens
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "ManualShippingBatch",
  data: () => ({
    transporterOptions: [
      {label: 'PostNL', value: 'TNT'},
      {label: 'PostNL Briefpost', value: 'TNT_BRIEF'},
      {label: 'PostNL extra@home', value: 'TNT-EXTRA'},
      {label: 'UPS', value: 'UPS'},
      {label: 'TNT Express', value: 'TNT-EXPRESS'},
      {label: 'Dynalogic', value: 'DYL'},
      {label: 'DPD Nederland', value: 'DPD-NL'},
      {label: 'DPD België', value: 'DPD-BE'},
      {label: 'Bpost België', value: 'BPOST_BE'},
      {label: 'Bpost Briefpost', value: 'BPOST_BRIEF'},
      {label: 'DHLFORYOU', value: 'DHLFORYOU'},
      {label: 'GLS', value: 'GLS'},
      {label: 'FedEx Nederland', value: 'FEDEX_NL'},
      {label: 'FedEx Belgie', value: 'FEDEX_BE'},
      {label: 'Anders', value: 'OTHER'},
      {label: 'DHL', value: 'DHL'},
      {label: 'DHL Germany', value: 'DHL_DE'},
      {label: 'DHL Global mail', value: 'DHL-GLOBAL-MAIL'},
      {label: 'Transportservice Nederland', value: 'TSN'},
      {label: 'Fiege', value: 'FIEGE'},
      {label: 'TransMission', value: 'TRANSMISSION'},
      {label: 'Parcel.nl', value: 'PARCEL-NL'},
      {label: 'LogoiX', value: 'LOGOIX'},
      {label: 'Packs', value: 'PACKS'},
      {label: 'Bezorgafspraak', value: 'COURIER'},
      {label: 'NedWRK (Red je pakketje)', value: 'RJP'},
    ],
    csv: [],
    shipping_method: null,
    transports: [],
    shipments: {
      success: [],
      skipped: [],
      cancelled: [],
      shipmentRequests: [],
    },
    loading: false,
    error: null,
  }),
  methods: {
    addTransporterCodeToOutput() {
      this.transports = [];
      this.csv.forEach(TransportInstruction => {
        TransportInstruction.transporterCode = this.shipping_method;
        this.transports.push(TransportInstruction);
      })
    },
    shipOrdersWithTransportInstructions() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipments/manual', this.transports)
          .then(response => {
            this.shipments = response.data
            this.loading = false;
            console.log(response);
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
  }
}
</script>

<style scoped lang="scss">
.csv-import::v-deep {
  .csv-fields {
    td, th {
      min-width: 100px;
      max-width: 180px;
    }

    .tr-thead {
      text-align: left;
    }

    .select-fields {
      border: 1px solid #bebebe;
      border-radius: 5px;
      padding: 4px;
      font-size: 0.75em;
    }
  }
}
.csv-json-output {
  min-width: 400px;
}
</style>