<template>
  <v-container>
    <div class="pa-2" v-if="['DEV', 'STAGING', 'NL'].includes(APP_REGION_CODE)">
      <v-row>

      </v-row>
    </div>
    <v-row>
      <v-col class="offer-container">
        <v-data-table
            :headers="headers"
            :items="offers"
            item-key="offerId"
            :search="search"
            :loading="loading"
            :footer-props="{
              'items-per-page-options': [-1, 25, 50, 100, 250]
            }"
            :items-per-page="100"
            show-expand
            show-select
            v-model="selectedOffers"
            multi-sort
        >

          <template v-slot:top>
            <v-container class="offer-controls-bar">
              <v-row>
                <v-col>
                  <div class="select-all d-inline-block mr-6">
                    <span class="text-uppercase text-subtitle-2">{{ selectedOffers.length }} geselecteerd
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <v-icon class="mb-1" right
                                color="primary"
                                v-bind="attrs"
                                v-on="on"
                                @click="selectedOffers.length < offers.length ? selectedOffers = offers : selectedOffers = []"
                        >mdi-auto-fix</v-icon>
                      </template>
                      <span>Alle bestellingen selecteren</span>
                    </v-tooltip>
                  </span>
                  </div>
                  <div class="edit-deliveryCodes d-inline-block mr-6">
                    <v-dialog v-model="dialogs.fulfilmentDeliveryCode" width="500">
                      <template v-slot:activator="{on,attrs}">
                        <v-btn v-bind="attrs" v-on="on"
                               text outlined
                        >
                          <v-icon left>mdi-clock-outline</v-icon>
                          Levertijd
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>Levertijden aanpassen</v-card-title>
                        <v-card-text>
                          <v-row>
                            <v-col>
                              <span class="d-block">Hiermee pas je de levertijden van de <span class="font-italic">geselecteerde</span> producten aan.</span>
                              <span class="d-block">LVB bestellingen worden overgeslagen.</span>
                              <span class="d-block">Je hebt <strong>{{ selectedOffers.length }}</strong> producten geselecteerd.</span>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="12">
                              <div class="d-block text-uppercase font-weight-bold mt-n2 mb-4"
                                   v-if="editFulfilmentDeliveryCode">
                                {{editFulfilmentDeliveryCode.description}}
                              </div>

                              <v-form>
                                <v-select
                                    outlined
                                    dense
                                    label="levertijd"
                                    :items="deliveryCodes"
                                    item-text="deliveryCode"
                                    return-object
                                    v-model="editFulfilmentDeliveryCode"></v-select>
                              </v-form>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <span class="d-block">Dit proces kan enkele minuten duren...</span>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn text outlined @click="updateFulfilmentDelivery">Bevestigen</v-btn>
                          <v-btn text @click="dialogs.fulfilmentDeliveryCode = false; editFulfilmentDeliveryCode = null">Annuleren</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </div>
                  <div class="edit-shippingMethods d-inline-block">
                    <v-dialog v-model="dialogs.fulfilmentShippingMethod" width="500">
                      <template v-slot:activator="{on,attrs}">
                        <v-btn v-bind="attrs" v-on="on"
                               text outlined
                        >
                          <v-icon left>mdi-clock-outline</v-icon>
                          Verzendmethode
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-title>Verzendmethode aanpassen</v-card-title>
                        <v-card-text>
                          <v-row>
                            <v-col>
                              <span class="d-block">Hiermee pas je de verzendmethode van de <span class="font-italic">geselecteerde</span> producten aan.</span>
                              <span class="d-block">Je hebt <strong>{{ selectedOffers.length }}</strong> producten geselecteerd.</span>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="12">
                              <v-form>
                                <v-select
                                    outlined
                                    dense
                                    label="verzendmethode"
                                    :items="transporterOptions"
                                    item-text="label"
                                    return-object
                                    clearable
                                    v-model="editFulfilmentShippingMethod"></v-select>
                              </v-form>
                            </v-col>
                          </v-row>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn text outlined @click="updateFulfilmentShippingMethod">Bevestigen</v-btn>
                          <v-btn text @click="dialogs.fulfilmentShippingMethod = false; editFulfilmentShippingMethod = null">Annuleren</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </div>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" class="col-md-4">
                  <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Zoeken"
                      single-line
                      dense
                      hide-details
                      outlined
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-btn class="py-5"
                         @click="syncOffers"
                         outlined
                         text
                  >
                    <v-icon left color="primary">mdi-sync</v-icon>
                    Synchroniseren
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </template>

          <template v-slot:item.ean="{item}">
            <router-link :to="{name: 'EditOffer', params: {id: item.offerId}}">{{item.ean}}</router-link>
          </template>

          <template v-slot:item.fulfilment="{item}">
            <div><span>Leverbelofte:</span> {{ item.fulfilment.deliveryCode }}</div>
            <div><span>Levermethode:</span> {{ item.fulfilment.method }}</div>
          </template>

          <template v-slot:item.jewelcase="{item}">
            <v-simple-checkbox :value="item.jewelcase === 1 || item.jewelcase === true" disabled></v-simple-checkbox>
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length" class="_expand">
              <v-row class="mt-2">
                <v-col cols="12">
                  <v-switch
                      v-model="item.jewelcase"
                      label="Inclusief Jewelcase"
                      @change="updateJewelcase(item)"
                      class="d-inline-flex"
                  ></v-switch>
                  <div class="update-loader d-inline-block ml-6">
                    <v-progress-circular v-if="loading" color="primary" indeterminate></v-progress-circular>
                    <span v-if="loading">updating...</span>
                  </div>
                </v-col>
                <v-col cols="12">
                  <v-btn link :to="{name: 'EditOffer', params: {id: item.offerId}}">
                    <v-icon left color="primary">mdi-pencil</v-icon>
                    meer bewerken
                  </v-btn>
                </v-col>
                <v-col cols="12">
                  <v-divider></v-divider>
                </v-col>
              </v-row>
              <pre id="json" class="json">{{ item }}</pre>
            </td>
          </template>

        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Offers",
  data: () => ({
    offers: [],
    selectedOffers: [],
    loading: false,
    success: false,
    error: null,
    APP_REGION_CODE: process.env.VUE_APP_REGION_CODE,
    search: '',
    headers: [
      {text: 'ID', value: 'offerId', align: ' d-none'},
      {text: 'EAN', value: 'ean', align: 'start'},
      {text: 'Referentie', value: 'reference'},
      {text: 'Voorraadlocatie', value: 'fulfilment.method'},
      {text: 'Levertijd', value: 'fulfilment.deliveryCode'},
      {text: 'Verzendmethode', value: 'shippingMethod.transporter_name'},
      {text: 'Jewelcase', value: 'jewelcase'},
      {text: '', value: 'data-table-expand'},
    ],
    dialogs: {
      fulfilmentDeliveryCode: false,
      fulfilmentShippingMethod: false,
    },
    deliveryCodes: [
      {deliveryCode: "24uurs-23", description: "Voor 23:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-22", description: "Voor 22:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-21", description: "Voor 21:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-20", description: "Voor 20:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-19", description: "Voor 19:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-18", description: "Voor 18:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-17", description: "Voor 17:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-16", description: "Voor 16:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-15", description: "Voor 15:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-14", description: "Voor 14:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-13", description: "Voor 13:00 uur besteld, morgen in huis."},
      {deliveryCode: "24uurs-12", description: "Voor 12:00 uur besteld, morgen in huis."},
      {deliveryCode: "1-2d", description: "Levering binnen 1 tot 2 dagen"},
      {deliveryCode: "2-3d", description: "Levering binnen 2 tot 3 dagen"},
      {deliveryCode: "3-5d", description: "Levering binnen 3 tot 5 dagen"},
      {deliveryCode: "4-8d", description: "Levering binnen 4 tot 8 dagen"},
      {deliveryCode: "1-8d", description: "Levering binnen 1 tot 8 dagen"},
      {deliveryCode: "MijnLeverbelofte", description: "Je eigen op maat gemaakte leverbelofte. Je kunt deze aanpassen in je verkoopaccount."},
      {deliveryCode: "VVB", description: "Verzenden Via Bol"},
    ],
    transporterOptions: [
      {label: 'PostNL', value: 'TNT'},
      {label: 'PostNL Briefpost', value: 'TNT_BRIEF'},
      {label: 'PostNL extra@home', value: 'TNT-EXTRA'},
      {label: 'UPS', value: 'UPS'},
      {label: 'TNT Express', value: 'TNT-EXPRESS'},
      {label: 'Dynalogic', value: 'DYL'},
      {label: 'DPD Nederland', value: 'DPD-NL'},
      {label: 'DPD België', value: 'DPD-BE'},
      {label: 'Bpost België', value: 'BPOST_BE'},
      {label: 'Bpost Briefpost', value: 'BPOST_BRIEF'},
      {label: 'DHLFORYOU', value: 'DHLFORYOU'},
      {label: 'GLS', value: 'GLS'},
      {label: 'FedEx Nederland', value: 'FEDEX_NL'},
      {label: 'FedEx Belgie', value: 'FEDEX_BE'},
      {label: 'Anders', value: 'OTHER'},
      {label: 'DHL', value: 'DHL'},
      {label: 'DHL Germany', value: 'DHL_DE'},
      {label: 'DHL Global mail', value: 'DHL-GLOBAL-MAIL'},
      {label: 'Transportservice Nederland', value: 'TSN'},
      {label: 'Fiege', value: 'FIEGE'},
      {label: 'TransMission', value: 'TRANSMISSION'},
      {label: 'Parcel.nl', value: 'PARCEL-NL'},
      {label: 'LogoiX', value: 'LOGOIX'},
      {label: 'Packs', value: 'PACKS'},
      {label: 'Bezorgafspraak', value: 'COURIER'},
      {label: 'NedWRK (Red je pakketje)', value: 'RJP'},
    ],
    editFulfilmentDeliveryCode: null,
    editFulfilmentShippingMethod: null,
  }),

  mounted() {
    this.getOffers();
  },

  methods: {
    getOffers() {
      let offers = [];
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers')
          .then(response => {
            offers = response.data;
            this.offers = offers;
          })
      return offers;
    },
    updateJewelcase(offer) {
      this.loading = true;
      this.success = false;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers/' + offer.offerId, {
        offer: offer,
        syncOfferToBol: false,
      })
          .then(response => {
            this.loading = false;
            this.success = true;
            console.log(response);
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    updateFulfilmentDelivery() {
      this.dialogs.fulfilmentDeliveryCode = false;
      const selectedOffers = this.selectedOffers;
      const requestData = {
        offers: selectedOffers,
        deliveryCode: this.editFulfilmentDeliveryCode.deliveryCode
      }

      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers/update/fulfilment-deliverycode', requestData)
          .then(response => {
            console.log(response.data);
            this.loading = false;
            this.getOffers();
            this.editFulfilmentDeliveryCode = null;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.editFulfilmentDeliveryCode = null;
          });
    },
    updateFulfilmentShippingMethod() {
      this.dialogs.fulfilmentShippingMethod = false;
      let shipping_method_id;
      if(this.editFulfilmentShippingMethod !== null && this.editFulfilmentShippingMethod.value) {
        shipping_method_id = this.editFulfilmentShippingMethod.value;
      }
      const selectedOffers = this.selectedOffers;
      const requestData = {
        offers: selectedOffers,
        shipping_method_id: shipping_method_id
      }

      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers/update/fulfilment-shippingmethod', requestData)
          .then(response => {
            console.log(response.data);
            this.loading = false;
            this.getOffers();
            this.editFulfilmentShippingMethod = null;
          })
          .catch((error) => {
            console.log(error);
            this.loading = false;
            this.editFulfilmentShippingMethod = null;
          });
    },
    syncOffers() {
      this.loading = true;
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/offers/refresh')
          .then(response => {
            this.offers = response.data;
            this.loading = false;
          }).catch(error => {
        this.loading = false;
        this.error = error;
      })
    }
  }
}
</script>

<style scoped lang="scss">
._expand {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .json {
    overflow-x: scroll;
  }
}

.offer-controls-bar {
  background-color: #f5f5f5;
}
</style>