<template>
  <v-container>
    <div class="pa-2">
      <h5 class="mb-3">Verzendmethode Drempels</h5>
      <div class="update_breakpoint" v-for="(breakpoint, index) in shippingMethodBreakpoints" :key="index">
        <v-form :id="'update_shippingMethodBreakpoint_' + index" @submit.prevent="updateShippingMethodBreakpoint(breakpoint)">
          <v-row>
            <v-col>
              <v-text-field v-model="breakpoint.totalOrderPrice"
                            label="Vanaf bedrag"
                            type="number"
                            outlined dense
              ></v-text-field>
            </v-col>
            <v-col>
              <v-select v-model="breakpoint.shipping_method_id"
                        label="Verzendmethode"
                        :items="BolShippingMethods"
                        item-text="transporter_name"
                        item-value="transporter_code"
                        outlined dense
              ></v-select>
            </v-col>
            <v-col>
              <v-btn type="submit" color="info" :form="'update_shippingMethodBreakpoint_' + index" class="mr-2">opslaan</v-btn>
              <v-btn @click="deleteShippingMethodBreakpoint(breakpoint)" color="error" small><v-icon small>mdi-delete</v-icon></v-btn>
            </v-col>
          </v-row>
        </v-form>
      </div>
      <div class="new_breakpoint">
        <v-form id="create_shippingMethodBreakpoint" @submit.prevent="createShippingMethodBreakpoint(createBreakpointModel)">
          <v-row>
            <v-col>
              <v-text-field v-model="createBreakpointModel.totalOrderPrice"
                            label="Vanaf bedrag"
                            type="number"
                            outlined dense
              ></v-text-field>
            </v-col>
            <v-col>
              <v-select v-model="createBreakpointModel.shipping_method_id"
                        label="Verzendmethode"
                        :items="BolShippingMethods"
                        item-text="transporter_name"
                        item-value="transporter_code"
                        outlined dense
              ></v-select>
            </v-col>
            <v-col>
              <v-btn type="submit" color="success" form="create_shippingMethodBreakpoint">toevoegen</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </div>
    </div>
    <v-row>
      <v-col v-if="error">
        <v-alert type="error">{{ error }}</v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table
            :headers="headers"
            :items="BolShippingMethods"
            item-key="transporter_code"
            :footer-props="{
              'items-per-page-options': [-1, 5, 10, 20, 100]
            }"
            :items-per-page="100"
            multi-sort
            sort-by.sync="default"
            :sort-desc="true"
        >
          <template v-slot:item.transporter_name="{item}">
            <router-link :to="{name: 'EditShippingMethod', params:{id: item.transporter_code}}">
              {{item.transporter_name}}
            </router-link>
          </template>

          <template v-slot:item.track_and_trace="{item}">
            <v-simple-checkbox :value="item.track_and_trace === 1 || item.track_and_trace === true" disabled></v-simple-checkbox>
          </template>

          <template v-slot:item.default="{item}">
            <v-simple-checkbox :value="item.default === 1 || item.default === true" disabled></v-simple-checkbox>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Options",
  data: () => ({
    BolShippingMethods: [],
    shippingMethodBreakpoints: [],
    createBreakpointModel: {},
    APP_REGION_CODE: process.env.VUE_APP_REGION_CODE,
    error: null,
    loading: false,
    headers: [
      {text: 'Transporter', value: 'transporter_name', align: 'start'},
      {text: 'Transporter Code', value: 'transporter_code'},
      {text: 'Track and Trace', value: 'track_and_trace'},
      {text: 'Default', value: 'default'},
      {text: '', value: 'data-table-expand'},
    ],
  }),

  mounted() {
    this.getBolShippingMethods();
    this.getShippingMethodBreakpoints();
  },

  methods: {
    getBolShippingMethods() {
      let shipping_methods = [];
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods')
          .then((response) => {
            shipping_methods = response.data;
            this.BolShippingMethods = shipping_methods;
          })
          .catch((error) => {
            this.error = error;
          })
      return shipping_methods;
    },
    getShippingMethodBreakpoints() {
      let shipping_method_breakpoints = [];
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods/breakpoints')
          .then((response) => {
            shipping_method_breakpoints = response.data;
            this.shippingMethodBreakpoints = shipping_method_breakpoints;
          })
          .catch((error) => {
            this.error = error;
          })
      return shipping_method_breakpoints;
    },
    updateShippingMethodBreakpoint(breakpoint) {
      const shippingMethodBreakpoint = {
        id: breakpoint.id,
        totalOrderPrice: breakpoint.totalOrderPrice,
        shipping_method_id: breakpoint.shipping_method_id,
      };
      axios.put(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods/breakpoints/'+ shippingMethodBreakpoint.id, shippingMethodBreakpoint)
          .then((response) => {
            console.log(response);
            this.getShippingMethodBreakpoints();
          })
          .catch(error => {
            console.log(error);
          })
    },

    createShippingMethodBreakpoint(breakpoint) {
      const shippingMethodBreakpoint = {
        totalOrderPrice: breakpoint.totalOrderPrice,
        shipping_method_id: breakpoint.shipping_method_id,
      };
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods/breakpoints', shippingMethodBreakpoint)
          .then((response) => {
            console.log(response);
            this.getShippingMethodBreakpoints();
            this.createBreakpointModel = {};
          })
          .catch(error => {
            console.log(error);
          })
    },
    deleteShippingMethodBreakpoint(breakpoint) {
      axios.delete(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipping-methods/breakpoints/' + breakpoint.id)
          .then((response) => {
            console.log(response);
            this.getShippingMethodBreakpoints();
          })
          .catch(error => {
            console.log(error);
          })
    }
  }
}
</script>

<style scoped lang="scss">

</style>