<template>
  <v-container>
    <v-row>
      <v-col v-if="error">
        <v-alert type="error">{{ error }}</v-alert>
      </v-col>
    </v-row>

    <div class="order-controls-bar">
      <v-row class="my-3">
        <v-col class="flex-grow-0 flex-shrink-1">
          <v-btn class="control-btn" outlined @click="getSpreadsheet()">
            <v-icon left>mdi-microsoft-excel</v-icon>
            exporteren
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1">
          <v-btn class="control-btn" outlined @click="getOrderPackingSlip()">
            <v-icon small left>mdi-file-document-outline</v-icon>
            pakbon
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1">
          <v-btn class="control-btn" outlined @click="getOrderInvoice()">
            <v-icon small left>mdi-receipt-text-outline</v-icon>
            factuur
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1">
          <v-btn class="control-btn" outlined @click="getPostNLShippingLabel()">
            <v-icon small left>mdi-label</v-icon>
            verzendlabel
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1">
          <v-btn class="control-btn" outlined @click="getPostNLReturnLabel()">
            <v-icon small left>mdi-label-variant</v-icon>
            retourlabel
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1" v-if="order">
          <v-btn class="control-btn" outlined link :to="{name: 'OrderFiles', params: {id: order.orderId}}">
            <v-icon small left>mdi-file search</v-icon>
            bestanden
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1" v-if="order">
          <v-btn class="control-btn" outlined link :to="{name: 'EditOrder', params: {id: order.orderId}}">
            <v-icon small left>mdi-pencil</v-icon>
            bewerken
          </v-btn>
        </v-col>
        <v-col class="flex-grow-0 flex-shrink-1" v-if="order">
          <v-menu offset-y :close-on-click="true">
            <template v-slot:activator="{ on, attrs }">
              <v-icon color="primary" dark v-bind="attrs" v-on="on" class="mt-1">mdi-cog</v-icon>
            </template>
            <v-card>
              <v-card-text>
                <order-change-batch-dialog v-model="order"></order-change-batch-dialog>
                <v-divider class="my-1"></v-divider>
                <order-delete-dialog v-model="order"></order-delete-dialog>
              </v-card-text>
            </v-card>
          </v-menu>
        </v-col>
      </v-row>
    </div>

    <order-details :order="order"></order-details>
  </v-container>
</template>

<script>
import axios from "axios";
import {companyFieldHasVATNumber} from "../utils/Utils";
import OrderDetails from '../partials/order/order-details';
import OrderDeleteDialog from '../partials/order/order-delete-dialog';
import OrderChangeBatchDialog from "../partials/order/order-change-batch-dialog";

export default {
  name: "Order",
  components: {
    OrderChangeBatchDialog,
    'order-details': OrderDetails,
    'order-delete-dialog': OrderDeleteDialog,
  },
  data: () => ({
    order: null,
    error: null,
    loading: false,
    companyFieldHasVATNumber,
    APP_REGION_CODE: process.env.VUE_APP_REGION_CODE,
  }),

  mounted() {
    const orderId = this.$route.params.id;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + orderId + '?full=true')
        .then((response) => {
          this.order = response.data;
          this.order.orderFiles.reverse();
        })
        .catch((error) => {
          this.error = error;
        })
  },

  methods: {
    submit() {

    },
    getSpreadsheet() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/spreadsheet', [this.order], {
        responseType: 'blob'
      })
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'export-' + this.order.orderId + '.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getPostNLShippingLabel() {
      let orderFiles = this.order.orderFiles;
      let file;
      orderFiles.some(orderFile => {
        if (orderFile.category === "shipping_labels") {
          file = orderFile
          return true;
        }
      });
      if(file === undefined) {
        this.error = "File not found"
        return;
      }
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipments/labels/postnl', [this.order], {
        responseType: 'arraybuffer'
      })
          .then(response => {
            this.loading = false;
            console.log(response);

            if (response.headers['content-type'] === 'application/pdf') {
              let blob = new Blob([response.data], {type: 'application/pdf'})
              let link = document.createElement('a')
              link.href = window.URL.createObjectURL(blob)
              link.setAttribute('download', file.fileName + '.' + file.extension); //or any other extension
              link.click()
            }
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getPostNLReturnLabel() {
      this.loading = true;
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipments/labels/postnl/return/' + this.order.orderId, {
        responseType: 'blob'
      })
          .then(response => {
            this.loading = false;
            console.log(response);

            if (response.headers['content-type'] === 'application/pdf') {
              let blob = new Blob([response.data], {type: 'application/pdf'})
              let link = document.createElement('a')
              link.href = window.URL.createObjectURL(blob)
              link.setAttribute('download', 'DataIO_Retourlabel_' + this.order.orderId + '.pdf'); //or any other extension
              link.click()
            }
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getOrderInvoice() {
      let orderFiles = this.order.orderFiles;
      let file;
      orderFiles.some(orderFile => {
        if (orderFile.category === "invoices") {
          file = orderFile
          return true;
        }
      });
      if(file === undefined) {
        this.error = "File not found"
        return;
      }
      this.loading = true;
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/invoice/' + this.order.orderId, {
        responseType: 'blob'
      })
          .then((response) => {
            this.loading = false;
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', file.fileName + '.' + file.extension); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
          .catch((error) => {
            this.loading = false;
            this.error = error;
          })
    },
    getOrderPackingSlip() {
      let orderFiles = this.order.orderFiles;
      let file;
      orderFiles.some(orderFile => {
        if (orderFile.category === "packing_slips") {
          file = orderFile
          return true;
        }
      });
      if(file === undefined) {
        this.error = "File not found"
        return;
      }
      this.loading = true;
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/packing-slip/' + this.order.orderId, {
        responseType: 'blob'
      })
          .then((response) => {
            this.loading = false;
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', file.fileName + '.' + file.extension); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
          .catch((error) => {
            this.loading = false;
            this.error = error;
          })
    },
  }
}
</script>

<style scoped lang="scss">

.control-btn {
  border-color: var(--v-primary-base) !important;
}

.billing-details, .shipment-details {
  .company {
    min-height: 1em;
  }
}

.orderItems {
  .items-table {
    font-size: 0.8em;
    border-collapse: collapse;

    .total {
      border-top: 3px solid black;
      border-bottom: none;
      background-color: #f5f5f5;
    }

    td, th {
      padding: 0 6px;
    }

    .item {
      border-bottom: 1px solid black;
    }
  }
}
</style>
