<template>
  <v-container>
    <div class="errors" v-if="error">
      <v-row>
        <v-col>
          <v-alert type="info" dense dismissible>{{ error.data.message }}</v-alert>
        </v-col>
      </v-row>
    </div>

    <div class="toolbox py-2">
      <v-dialog v-model="dialogs.bulk_export" width="500"
      >
        <template v-slot:activator="{on,attrs}">
          <v-btn v-bind="attrs" v-on="on" color="primary" plain>
            <v-icon small left>mdi-microsoft-excel</v-icon>
            bulk export
          </v-btn>
        </template>

        <v-card>
          <v-card-title>Orders in bulk exporteren</v-card-title>
          <v-card-text>
            <p>Voer (meerdere) bestelnummers in, gescheiden met een komma</p>
            <v-textarea
                outlined
                label="Bestelnummers"
                hide-details="auto"
                dense
                placeholder="1215294804, 1286700314"
                v-model="bulk_export_input"
            ></v-textarea>
          </v-card-text>
          <v-card-actions>
            <v-btn text @click="getSpreadsheet(inputToArray(bulk_export_input))">Exporteren</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </div>

    <v-row>
      <v-col>
        <v-card outlined>
          <v-expansion-panels flat v-model="openedFilters">
            <v-expansion-panel>
              <v-expansion-panel-header><span><v-icon left color="primary">mdi-filter</v-icon>Zoekfilters</span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="search-form">
                  <v-form
                      @submit.prevent="submitSearch"
                  >
                    <v-btn @click="submitSearch(1)" text outlined color="primary" class="mb-4">Zoeken</v-btn>
                    <v-row class="form-options">
                      <v-col>
                        <div v-for="(category, key) in form.options.categories" :key="key" class="mb-4">
                          <h6 class="search-category text-h6">{{ category.title }}</h6>
                          <v-divider class="py-2"></v-divider>
                          <v-row v-for="(item, key) in category.fields" :key="key" no-gutters>
                            <v-col class="flex-grow-0 flex-shrink-1 col-md-3 col-lg-2">
                              <v-checkbox v-model="item.value" :label="item.title" hide-details
                                          class="--checkbox"></v-checkbox>
                            </v-col>
                            <v-col class="flex-shrink-1" v-if="item.value">
                              <div v-if="key === 'orderPlacedDateTime'">
                                Van
                                <VueCtkDateTimePicker
                                    v-model="item.input.start"
                                    id="datetimeAdvanced_start"
                                    label="Selecteer periode"
                                    :overlay="true"
                                    locale="nl"
                                    format="DD-MM-YYYY HH:mm"
                                    button-now-translation="Nu"
                                ></VueCtkDateTimePicker>
                                Tot
                                <VueCtkDateTimePicker
                                    v-model="item.input.end"
                                    id="datetimeAdvanced_end"
                                    label="Selecteer periode"
                                    :overlay="true"
                                    locale="nl"
                                    format="DD-MM-YYYY HH:mm"
                                    button-now-translation="Nu"
                                ></VueCtkDateTimePicker>
                              </div>
                              <div v-else-if="key === 'latestDeliveryDate'">
                                <VueCtkDateTimePicker
                                    v-model="item.input"
                                    label="Selecteer datum"
                                    :overlay="true"
                                    locale="nl"
                                    format="YYYY-MM-DD"
                                    :only-date="true"
                                    button-now-translation="Nu"
                                ></VueCtkDateTimePicker>
                              </div>
                              <div v-else-if="key === 'totalOrderPrice' || key === 'quantity' || key === 'unitPrice'">
                                <v-text-field v-model="item.input" :label="item.title"
                                              type="number"
                                              single-line
                                              hide-details
                                              class="--text-field">
                                </v-text-field>
                                <v-select v-model="item.selector" label="selector"
                                          :items="['=', '>', '<', '>=', '<=']"
                                >
                                </v-select>
                              </div>
                              <v-text-field v-else
                                            v-model="item.input" :label="item.title"
                                            single-line
                                            hide-details
                                            class="--text-field">
                              </v-text-field>
                            </v-col>
                          </v-row>
                        </div>
                      </v-col>
                    </v-row>
                    <v-btn @click="submitSearch(1)" text outlined color="primary">Zoeken</v-btn>
                  </v-form>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="col-md-4 col-lg-3">
        <v-form
            @submit.prevent="submitSearch(1)"
        >
          <div class="basic-search" no-gutters>
            <v-text-field class="order-search-input"
                          outlined
                          label="Bestelnummer"
                          hide-details="auto"
                          dense
                          placeholder="bestelnummer"
                          append-icon="mdi-magnify"
                          v-model="form.input"
            ></v-text-field>
          </div>
        </v-form>
      </v-col>
      <v-col class="col-md-4 col-lg-3">
        <v-btn @click="submitSearch(1)" text outlined color="primary">Zoeken</v-btn>
      </v-col>
    </v-row>

    <v-row class="search-results">
      <v-col>
        <v-data-table
            v-model="selectedOrders"
            :headers="headers"
            :items="orders.data"
            item-key="orderId"
            :footer-props="{
              'items-per-page-options': [-1, 25, 50, 100, 250, 500],
              'items-per-page-text': 'Rijen per pagina'
            }"
            :items-per-page="25"
            show-expand
            show-select
            :single-select="false"
            multi-sort
            :loading="loading"
        >
          <template v-slot:top="{ pagination, options, updateOptions }">
            <v-data-footer
                :pagination="pagination"
                :options="options"
                @update:options="updateOptions"
                :items-per-page-options="[-1, 25, 50, 100, 250, 500]"
                items-per-page-text="Rijen per pagina"
            />
          </template>

          <template v-slot:item.orderId="{item}">
            <router-link :to="{name: 'Order', params: {id: item.orderId}}">{{ item.orderId }}</router-link>
          </template>

          <template v-slot:item.status="{item}">
            <v-chip small class="text-lowercase align-self-center order-status" :class="'--'+item.status">
              <v-avatar left>
                <v-icon small class="order-status" :class="'--'+item.status">{{ getMdiIcon(item.status) }}</v-icon>
              </v-avatar>
              {{ item.status }}
            </v-chip>
          </template>

          <template v-slot:item.orderPlacedDateTime="{item}">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs"
                              v-on="on"
                        >{{ formatOrderTime(item.orderPlacedDateTime, 'DD MMM YYYY') }}</span>
              </template>
              <span>{{ formatOrderTime(item.orderPlacedDateTime, 'ddd DD-MM-YYYY, HH:mm:ss') }}</span>
            </v-tooltip>
          </template>

          <template v-slot:item.orderItems[0].offer.reference="{item}">
            <v-row no-gutters>
              <v-col class="orderItems py-1">
                <v-list class="pa-0 __list">
                  <v-list-item class="py-1 px-0 reference"
                               v-for="(orderItem, itemIndex) in item.orderItems" :key="itemIndex">
                    <span class="-quantity">{{ orderItem.quantity }}</span>
                    <span class="ml-2">{{ orderItem.offer.reference }}</span>
                  </v-list-item>
                </v-list>
              </v-col>
            </v-row>
          </template>

          <template v-slot:item.totalOrderPrice="{item}">
            <span>{{
                new Intl.NumberFormat('nl-NL', {
                  style: 'currency',
                  currency: 'EUR'
                }).format(item.totalOrderPrice)
              }}</span>
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <div class="ma-4 mb-8">
                <order-details :order="item"></order-details>
              </div>
            </td>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-footer v-if="orders.data.length || (orders.current_page > 0 && loading)" padless fixed
              class="pagination-container">
      <v-container>
        <v-row class="mt-0 mb-2 ">
          <v-col class="pb-0 pt-0 pl-0">
            <v-btn-toggle v-model="selectionAction" dense @change="toolbarAction">

              <v-tooltip top>
                <template v-slot:activator="{on,attrs}">
                  <v-btn v-bind="attrs" v-on="on" :disabled="!selectedOrders.length">
                    <v-icon>mdi-microsoft-excel</v-icon>
                  </v-btn>
                </template>
                <span>exporteren</span>
              </v-tooltip>

              <v-tooltip top>
                <template v-slot:activator="{on,attrs}">
                  <v-btn v-bind="attrs" v-on="on" :disabled="!selectedOrders.length">
                    <v-icon>mdi-file-document-outline</v-icon>
                  </v-btn>
                </template>
                <span>pakbonnen</span>
              </v-tooltip>

              <v-tooltip top>
                <template v-slot:activator="{on,attrs}">
                  <v-btn v-bind="attrs" v-on="on" :disabled="!selectedOrders.length">
                    <v-icon>mdi-currency-eur</v-icon>
                    <v-icon>mdi-receipt-text-outline</v-icon>
                  </v-btn>
                </template>
                <span>facturen</span>
              </v-tooltip>

              <v-tooltip top>
                <template v-slot:activator="{on,attrs}">
                  <v-btn v-bind="attrs" v-on="on" :disabled="!selectedOrders.length">
                    <v-icon>mdi-label</v-icon>
                  </v-btn>
                </template>
                <span>verzendlabels</span>
              </v-tooltip>

            </v-btn-toggle>
          </v-col>
        </v-row>

        <v-row class="mt-0">
          <v-col class="py-1">
            Per pagina: {{ new Intl.NumberFormat().format(orders.per_page) }}
          </v-col>
          <v-col class="py-1">
            Totaal resultaten: {{ new Intl.NumberFormat().format(orders.total) }}
          </v-col>
          <v-col class="py-1">
            Geselecteerd: {{ selectedOrders.length }}
          </v-col>
        </v-row>

        <v-row class="mt-0">
          <v-col>
            <v-pagination
                v-model="orders.current_page"
                :length="orders.last_page"
                @input="submitSearch"
            ></v-pagination>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import OrderDetails from "../partials/order/order-details";
import JordioAPI from "../utils/JordioAPI";

export default {
  name: "Orders",
  components: {
    'order-details': OrderDetails
  },
  data: () => ({
    menu_toggle: false,
    openedFilters: null,
    form: {
      input: "",
      options: {
        categories: {
          order: {
            title: "Bestelling",
            fields: {
              orderId: {title: "bestelnummer", value: false, input: null},
              totalOrderPrice: {title: "orderwaarde", value: false, input: null, selector: "="},
              orderPlacedDateTime: {title: "besteldatum", value: false, input: {start: null, end: null}},
            }
          },
          shipmentDetails: {
            title: "Verzendinformatie",
            fields: {
              firstName: {title: "voornaam", value: false, input: null},
              surName: {title: "achternaam", value: false, input: null},
              company: {title: "bedrijfsnaam", value: false, input: null},
              streetName: {title: "straat", value: false, input: null},
              houseNumber: {title: "huisnummer", value: false, input: null},
              zipCode: {title: "postcode", value: false, input: null},
              city: {title: "plaats", value: false, input: null},
            }
          },
          billingDetails: {
            title: "Factuurinformatie",
            fields: {
              firstName: {title: "voornaam", value: false, input: null},
              surName: {title: "achternaam", value: false, input: null},
              company: {title: "bedrijfsnaam", value: false, input: null},
              streetName: {title: "straat", value: false, input: null},
              houseNumber: {title: "huisnummer", value: false, input: null},
              zipCode: {title: "postcode", value: false, input: null},
              city: {title: "plaats", value: false, input: null},
              vatNumber: {title: "btw-nummer", value: false, input: null},
              kvkNumber: {title: "kvk-nummer", value: false, input: null},
              orderReference: {title: "factuurreferentie", value: false, input: null},
            }
          },
          orderItems: {
            title: "Producten",
            fields: {
              offerId: {title: "offerId", value: false, input: null},
              reference: {title: "referentie", value: false, input: null},
              ean: {title: "ean", value: false, input: null},
              title: {title: "productnaam", value: false, input: null},
              quantity: {title: "aantal", value: false, input: null, selector: '='},
              unitPrice: {title: "unitprijs", value: false, input: null, selector: '='},
              latestDeliveryDate: {title: "uiterste leverdatum", value: false, input: null},
            }
          },
          shipments: {
            title: "Zending",
            fields: {
              transporter_code: {title: "transporteur-code", value: false, input: null},
              product_code: {title: "product-code", value: false, input: null},
              barcode: {title: "barcode", value: false, input: null},
            }
          },
        },
      },
    },
    orders: {
      current_page: null,
      last_page: null,
      per_page: null,
      from: null,
      to: null,
      total: null,
      data: [],
    },
    headers: [
      {text: 'Status', value: 'status', align: 'start'},
      {text: 'Bestelnummer', value: 'orderId'},
      {text: 'Voornaam', value: 'shipmentDetails.firstName'},
      {text: 'Achternaam', value: 'shipmentDetails.surName'},
      {text: 'Besteldatum', value: 'orderPlacedDateTime'},
      {text: 'Referentie(s)', value: 'orderItems[0].offer.reference'},
      {text: 'Waarde', value: 'totalOrderPrice'},
      {text: '', value: 'data-table-expand'},
    ],
    selectedOrders: [],
    selectionAction: null,
    bulk_export_input: "",
    dialogs: {
      bulk_export: false,
    },
    error: null,
    loading: false,
  }),

  mounted() {
    //this.fetchOrders(1);
  },

  methods: {
    fetchOrders(page) {
      this.orders.data = [];
      this.error = null;
      this.loading = true;
      return axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/search-orders?page=' + page, this.form)
          .then(response => {
            switch (response.status) {
              case 200:
                this.orders = response.data.orders
                break;
              default:
                //nothing
            }
          })
          .catch(error => {
            this.error = error.response;
            console.log(this.error);
          })
          .finally(() => {
            this.loading = false;
          })
    },
    submitSearch(page) {
      this.orders.current_page = page;
      this.openedFilters = null;
      this.fetchOrders(page);
    },
    getSpreadsheet(orders) {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/spreadsheet', orders, {
        responseType: 'blob'
      })
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            const now = moment.now();
            link.href = url;
            link.setAttribute('download', 'export ' + now + '.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
            this.loading = false;
            this.dialogs.bulk_export = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    inputToArray(input) {
      const ids = input.replace(/\s/g, '').split(/,|\./);
      let orders = [];
      ids.forEach(id => {
        const order = {
          orderId: id,
        }
        orders.push(order);
      })
      return orders;
    },
    formatOrderTime(time) {
      return moment(time).format('DD-MM-YYYY HH:mm:ss');
    },
    getMdiIcon(status) {
      let icon = "";
      switch (status) {
        case "OPEN":
          icon = "mdi-circle-small";
          break;
        case "QUEUED":
          icon = "mdi-timeline-clock";
          break;
        case "SHIPPED":
          icon = "mdi-checkbox-marked-circle";
          break;
        case "SKIPPED":
          icon = "mdi-debug-step-over";
          break;
        case "CANCELLED":
          icon = "mdi-block-helper";
          break;
        case "LVB":
          icon = "mdi-check-decagram-outline";
          break;
      }
      return icon;
    },
    toolbarAction(button) {
      this.loading = true;
      let promise = new Promise(() => {
      });
      switch (button) {
        case 0:
          promise = JordioAPI.exportOrders(this.selectedOrders);
          break;
        case 1:
          promise = JordioAPI.getPackingSlips(this.selectedOrders);
          break;
        case 2:
          promise = JordioAPI.getInvoices(this.selectedOrders);
          break;
        case 3:
          promise = JordioAPI.getShippingLabels(this.selectedOrders);
          break;
      }
      promise.catch((error) => {
        this.error = error.response;
        console.log(error);
      }).finally(() => {
        this.loading = false;
        this.selectionAction = null;
      })
    },
  }
}
</script>

<style scoped lang="scss">
.form-control-btn {
  height: 40px !important;
}

.order-search-input {
  height: 40px !important;
}

.--checkbox, .--text-field {
  margin-top: 0;
  padding-top: 0;
}

.orderItems {
  line-height: 12px;

  .__list {
    background-color: transparent;
    font-size: 12px;
  }

  .reference {
    min-height: unset;

    .-quantity {
      border: 1px solid #acacac;
      border-radius: 20px;
      font-size: 0.9em;
      font-family: Consolas, sans-serif;
      padding: 2px 4px;
    }
  }
}

.search-results {
  margin-bottom: 160px;
}

.pagination-container {
  background: white;
  border-top: 1px solid var(--v-primary-base);
  z-index: 7;
}

.order-status {
  &.--SHIPPED {
    color: #ffffff;
    background-color: #1f7acd;
  }

  &.--LVB {
    color: #000000;
    background-color: #09d6f1;
    text-transform: uppercase !important;
  }

  &.--CANCELLED {
    color: #ffffff;
    background-color: #ff2f2f;
  }

  &.--SKIPPED {
    color: #000000;
    background-color: #ff9849;
  }

  &.--OPEN {
    color: #000000;
    background-color: #fff5da;
  }
}
</style>
