<template>
  <v-container>
    <v-row>
      <v-col v-if="error">
        <v-alert type="error">{{ error }}</v-alert>
      </v-col>
    </v-row>

    <v-row v-if="order">
      <v-col>
        <div class="mb-2">
          <span class="nav-back"><router-link :to="{name: 'Order', params: {id: order.orderId}}">{{order.orderId}}</router-link>/files</span>
        </div>
        <div class="text-h5">Orderbestanden</div>
      </v-col>
    </v-row>

    <v-row v-if="order">
      <v-col v-for="(category, categoryKey) in categories" :key="categoryKey" class="flex-grow-0 flex-shrink-1">
        <v-btn text @click="newFile(categoryKey)">
          <v-icon color="secondary" left>mdi-plus-circle</v-icon> {{category.single}}
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-if="order && order.orderFiles">
      <v-col v-for="(file) in order.orderFiles" :key="file.id" class="col-lg-4 col-md-6">
        <v-card outlined>
          <v-card-title>
            <span class="pb-1"><v-icon color="indigo">mdi-file-pdf-box</v-icon></span>
            <span>{{ localizedCategoryType(file.category) }}</span>
            <span> #{{ file.id }}</span>
          </v-card-title>
          <v-card-text>
            <div>
              {{file.fileName}}.{{file.extension}}
            </div>
            <div>
              {{new Date(file.created_at).toLocaleString()}}
            </div>
            <v-divider class="my-4"></v-divider>
            <v-btn text color="primary" @click="downloadFile(file, false)">
              <v-icon color="primary">mdi-eye</v-icon>
            </v-btn>
            <v-btn text color="primary" @click="downloadFile(file)">
              <v-icon color="secondary">mdi-download</v-icon>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "OrderFiles",
  data: () => ({
    order: null,
    error: null,
    loading: false,
    APP_REGION_CODE: process.env.VUE_APP_REGION_CODE,
    categories: {
      packing_slips: {
        single: 'pakbon',
        multiple: 'pakbonnen'
      },
      invoices: {
        single: 'factuur',
        multiple: 'facturen'
      },
      shipping_labels: {
        single: 'verzendlabel',
        multiple: 'verzendlabels'
      }
    }
  }),

  mounted() {
    const orderId = this.$route.params.id;
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/' + orderId + '?relations=orderFiles')
        .then((response) => {
          this.order = response.data;
        })
        .catch((error) => {
          this.error = error;
        })
  },

  methods: {
    downloadFile(file, download = true) {
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/files/' + file.id, {responseType: 'blob'})
          .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data], {type: response.headers['content-type']}));
            const link = document.createElement('a');
            link.href = url;
            link.target = '_blank';
            if(download) {
              link.setAttribute('download', file.fileName + '.' + file.extension);
            }
            console.log(response);
            document.body.appendChild(link);
            link.click();
          })
          .catch((error) => {
            this.error = error.response;
            console.log(error);
          })
    },
    newFile(category) {
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/files', {
        category: category,
        order: this.order,
      })
          .then(response => {
            const file = response.data;
            this.order.orderFiles.unshift(file);
          })
          .catch((error) => {
            this.error = error.response;
            console.log(error);
          })
    },
    localizedCategoryType(categoryType) {
      switch (categoryType) {
        case "packing_slips":
          return "Pakbon";
        case "invoices":
          return "Factuur";
        case "shipping_labels":
          return "Verzendlabel";
        default:
          return "Onbekend";
      }
    }
  }
}
</script>

<style scoped lang="scss">

.control-btn {
  border-color: var(--v-primary-base) !important;
}

.billing-details, .shipment-details {
  .company {
    min-height: 1em;
  }
}

.orderItems {
  .items-table {
    font-size: 0.8em;
    border-collapse: collapse;

    .total {
      border-top: 3px solid black;
      border-bottom: none;
      background-color: #f5f5f5;
    }

    td, th {
      padding: 0 6px;
    }

    .item {
      border-bottom: 1px solid black;
    }
  }
}
</style>