<template>
  <v-container fluid>
    <v-row v-if="loading">
      <v-col>
        <v-progress-linear indeterminate color="primary"></v-progress-linear>
      </v-col>
    </v-row>
    <v-row v-if="error">
      <v-col>
        <v-alert type="error">Server Error. Probeer het nog een keer.</v-alert>
      </v-col>
      <v-col cols="12"><code>{{ error }}</code></v-col>
    </v-row>
    <v-row v-if="shipments.cancelled && shipments.cancelled.length > 0">
      <v-col>
        <v-alert type="warning">{{ shipments.cancelled.length }} bestellingen waren geannuleerd tijdens het verwerken
          .Je zult deze bestellingen zelf uit je bestand moeten verwijderen!!!
          <v-row>
            <v-col>
              <v-list light>
                <v-list-item v-for="(cancellation, cancelIndex) in shipments.cancelled" :key="cancelIndex">
                  <v-list-item-content>
                    {{ cancellation.order.orderId }} - {{ cancellation.orderItem.offer.reference }}
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-alert>
      </v-col>
    </v-row>
    <v-row v-if="shipments.success && shipments.success.length > 0 || shipments.skipped.length > 0">
      <v-col>
        <v-alert type="success"><span class="font-weight-bold">{{ shipments.successfulOrders.length }}</span> succesvol verwerkte bestellingen ({{shipments.success.length}} order-items).
          <span class="d-block">{{ shipments.skipped.length }} orders vereisen handmatige verwerking.</span>
        </v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" v-if="orders">
        <h2>Batch #{{ this.$route.params.id }} | Bestellingen ({{ orders.length }}) | OrderItems ({{orderItemsCount}})</h2>
        <v-row>
          <v-col class="flex-grow-0 flex-shrink-1 open_orders" v-if="openOrders > 0">
            <v-chip
                class="text-lowercase align-self-center order-status --OPEN"
                small
            >
              <v-avatar left>
                <v-icon small class="order-status --OPEN">mdi-circle-small</v-icon>
              </v-avatar>
              {{ openOrders }} open
            </v-chip>
          </v-col>
          <v-col class="flex-grow-0 flex-shrink-1 open_orders" v-if="queuedOrders > 0">
            <v-chip
                class="text-lowercase align-self-center order-status --QUEUED"
                small
            >
              <v-avatar left>
                <v-icon small class="order-status --QUEUED">mdi-timeline-clock</v-icon>
              </v-avatar>
              {{ queuedOrders }} queued
            </v-chip>
          </v-col>
          <v-col class="flex-grow-0 flex-shrink-1 shipped_orders" v-if="shippedOrders > 0">
            <v-chip
                class="text-lowercase align-self-center order-status --SHIPPED"
                small
            >
              <v-avatar left>
                <v-icon small class="order-status --SHIPPED">mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              {{ shippedOrders }} shipped
            </v-chip>
          </v-col>
          <v-col class="flex-grow-0 flex-shrink-1 shipped_orders" v-if="lvbOrders > 0">
            <v-chip
                class="text-uppercase align-self-center order-status --LVB"
                small
            >
              <v-avatar left>
                <v-icon small class="order-status --LVB">mdi-check-decagram-outline</v-icon>
              </v-avatar>
              {{ lvbOrders }} LVB
            </v-chip>
          </v-col>
          <v-col class="flex-grow-0 flex-shrink-1 skipped_orders" v-if="skippedOrders > 0">
            <v-chip
                class="text-lowercase align-self-center order-status --SKIPPED"
                small
            >
              <v-avatar left>
                <v-icon small class="order-status --SKIPPED">mdi-debug-step-over</v-icon>
              </v-avatar>
              {{ skippedOrders }} skipped
            </v-chip>
          </v-col>
          <v-col class="flex-grow-0 flex-shrink-1 cancelled_orders" v-if="cancelledOrders > 0">
            <v-chip
                class="text-lowercase align-self-center order-status --CANCELLED"
                small
            >
              <v-avatar left>
                <v-icon small class="order-status --CANCELLED">mdi-block-helper</v-icon>
              </v-avatar>
              {{ cancelledOrders }} cancelled
            </v-chip>
          </v-col>
        </v-row>

      </v-col>

      <!--FILTERS START-->
      <v-row class="filters pa-2">
        <v-col>
          <v-card outlined>
            <v-expansion-panels flat>
              <v-expansion-panel>
                <v-expansion-panel-header><span><v-icon left color="primary">mdi-filter</v-icon>Filters</span>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row no-gutters>
                    <v-col class="px-2 mt-2">
                      <v-select
                          v-model="filters.status"
                          :items="['ANY', 'OPEN', 'SHIPPED', 'CANCELLED']"
                          label="Status"
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-row no-gutters>
                    <v-col class="flex-grow-0 mr-1">
                      <v-checkbox v-model="filters.minPriceEnabled"
                      ></v-checkbox>
                    </v-col>
                    <v-col>
                      <v-text-field
                          label="Min."
                          v-model="filters.minPrice"
                          :disabled="!filters.minPriceEnabled"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row no-gutters>
                    <v-col class="flex-grow-0 mr-1">
                      <v-checkbox v-model="filters.maxPriceEnabled"
                      ></v-checkbox>
                    </v-col>
                    <v-col>
                      <v-text-field
                          label="Max."
                          v-model="filters.maxPrice"
                          :disabled="!filters.maxPriceEnabled"
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row no-gutters>
                    <v-col class="mr-1 col-sm-5 col-md-3" cols="12">
                      <v-switch
                          v-model="filters.withDate"
                          label="Met datum"
                      ></v-switch>
                    </v-col>
                    <v-col class="mr-1 col-sm-5 col-md-3" cols="12">
                      <v-switch
                          v-model="filters.advancedDatetimeSwitch"
                          :label="filters.advancedDatetimeSwitch && 'Geavanceerde datum' || 'Simpele datum'"
                      ></v-switch>
                    </v-col>
                    <v-col v-show="!filters.advancedDatetimeSwitch" cols="12">
                      <VueCtkDateTimePicker
                          :disabled="!filters.withDate"
                          v-model="filters.datetimeSimple"
                          id="datetimeSimple"
                          label="Selecteer periode"
                          :overlay="true"
                          locale="nl"
                          format="DD-MM-YYYY HH:mm"
                          formatted="ddd DD MMM YYYY, HH:mm"
                          :range="true"
                          :custom-shortcuts="[
                        { key: 'Vandaag', label: 'Vandaag', value: 'day' },
                        { key: 'Gisteren', label: 'Gisteren', value: '-day' },
                        { key: 'Deze week', label: 'Deze week', value: 'isoWeek' },
                        { key: 'Vorige week', label: 'Vorige week', value: '-isoWeek' },
                        { key: 'Laatste 7 dagen', label: 'Laatste 7 dagen', value: 7 },
                        { key: 'Laatste 30 dagen', label: 'Laatste 30 dagen', value: 30 },
                        { key: 'Deze maand', label: 'Deze maand', value: 'month' },
                        { key: 'Vorige maand', label: 'Vorige maand', value: '-month' },
                        { key: 'Dit jaar', label: 'Dit jaar', value: 'year' },
                        { key: 'Vorig jaar', label: 'Vorig jaar', value: '-year' }
                        ]"
                          :only-date="false"
                          :color="this.$vuetify.theme.currentTheme.primary"
                      ></VueCtkDateTimePicker>
                    </v-col>
                    <v-col v-show="filters.advancedDatetimeSwitch" cols="5" class="mr-2">
                      Van
                      <VueCtkDateTimePicker
                          v-model="filters.datetimeAdvanced.start"
                          id="datetimeAdvanced_start"
                          label="Selecteer periode"
                          :overlay="true"
                          locale="nl"
                          format="DD-MM-YYYY HH:mm"
                          :color="this.$vuetify.theme.currentTheme.primary"
                          button-now-translation="Nu"
                      ></VueCtkDateTimePicker>
                    </v-col>
                    <v-col v-show="filters.advancedDatetimeSwitch" cols="5">
                      Tot
                      <VueCtkDateTimePicker
                          v-model="filters.datetimeAdvanced.end"
                          id="datetimeAdvanced_end"
                          label="Selecteer periode"
                          :overlay="true"
                          locale="nl"
                          format="DD-MM-YYYY HH:mm"
                          :color="this.$vuetify.theme.currentTheme.primary"
                          button-now-translation="Nu"
                      ></VueCtkDateTimePicker>
                    </v-col>
                  </v-row>

                  <v-row no-gutters class="mt-4">
                    <v-col>
                      <v-btn outlined color="primary" small
                             @click="getOrdersInBatch()"
                      >
                        <v-icon left>mdi-filter</v-icon>
                        Toepassen
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card>
        </v-col>
      </v-row>
      <!--FILTERS END-->

      <!--ORDERs START HERE-->
      <v-col cols="12">
        <v-row no-gutters>
          <v-col cols="12" class="col-md-4">
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Zoeken"
                single-line
                hide-details
                outlined
                dense
            ></v-text-field>
          </v-col>
          <v-col class="ml-2" v-if="warningReasons.length > 0">
            <v-tooltip bottom color="black" >
              <template v-slot:activator="{ on, attrs }">
                <v-chip v-bind="attrs"
                        v-on="on"
                        label color="orange">
                  <v-icon>mdi-alert</v-icon>
                </v-chip>
              </template>
              <ul>
                <li v-for="(warningReason, wIndex) in warningReasons" :key="wIndex">
                  {{warningReason}}
                </li>
              </ul>
            </v-tooltip>
            Waarschuwingen: {{warningReasons.length}}
          </v-col>
        </v-row>
      </v-col>

      <v-col class="orderBatch-container" cols="10">
        <v-data-table
            v-model="selectedOrders"
            :headers="headers"
            :items="orders"
            :single-select="false"
            item-key="orderId"
            show-select
            :search="search"
            :footer-props="{
              'items-per-page-options': [-1, 25, 50, 100, 250]
            }"
            :items-per-page="100"
            show-expand
            multi-sort
        >

          <template v-slot:item.status="{item}">
            <div v-for="(status, index) in item.status" :key="index" class="py-1">
              <v-chip small class="text-lowercase align-self-center order-status" :class="'--'+status">
                <v-avatar left>
                  <v-icon small class="order-status" :class="'--'+status">{{ getMdiIcon(status) }}</v-icon>
                </v-avatar>
                {{status}}
              </v-chip>
            </div>
          </template>

          <template v-slot:item.orderId="{item}">
                <router-link :to="{name: 'Order', params: {id: item.orderId}}">{{ item.orderId }}</router-link>
          </template>

          <template v-slot:item.shipmentWarnings="{item}">
            <v-tooltip bottom v-if="item.shipmentWarnings.length > 0">
              <template v-slot:activator="{ on, attrs }">
                <v-chip v-bind="attrs"
                        v-on="on"
                        label color="orange"
                        link :to="{name: 'EditOrder', params: {id: item.orderId}}"
                >
                  <v-icon>mdi-alert</v-icon>
                </v-chip>
              </template>
              <ul>
                <li v-for="(warningReason, wIndex) in item.shipmentWarnings" :key="wIndex">
                  {{warningReason}}
                </li>
              </ul>
            </v-tooltip>
          </template>

          <template v-slot:item.orderPlacedDateTime="{item}">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs"
                              v-on="on"
                        >{{ formatOrderTime(item.orderPlacedDateTime, 'DD MMM YYYY') }}</span>
              </template>
              <span>{{ formatOrderTime(item.orderPlacedDateTime, 'ddd DD-MM-YYYY, HH:mm:ss') }}</span>
            </v-tooltip>
          </template>

          <template v-slot:item.orderItems[0].offer.reference="{item}">
            <v-row no-gutters>
              <v-col class="orderItems py-1">
                <v-list class="pa-0 __list">
                  <v-list-item class="py-1 px-0 reference"
                               v-for="(orderItem, itemIndex) in item.orderItems" :key="itemIndex">
                    <div :class="{'strikethrough': orderItem.deleted_at}">
                      <span class="-quantity">{{ orderItem.quantity }}</span>
                      <span class="ml-2">{{ orderItem.offer.reference }}</span>
                    </div>
                  </v-list-item>
                </v-list>
              </v-col>
            </v-row>
          </template>

          <template v-slot:item.totalOrderPrice="{item}">
            <span>{{new Intl.NumberFormat('nl-NL', {style: 'currency', currency: 'EUR'}).format(item.totalOrderPrice)}}</span>
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <div class="ma-4 mb-8">
                <order-details :order="item"></order-details>
                <pre id="json" class="json mt-4">{{ item }}</pre>
              </div>
            </td>
          </template>

        </v-data-table>
      </v-col>

      <v-col class="sidebar" cols="2">
        <v-row no-gutters class="pl-3 mb-4">
          <span class="text-uppercase text-subtitle-2">{{ selectedOrders.length }} geselecteerd
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <v-icon class="mb-1" right
                        color="primary"
                        v-bind="attrs"
                        v-on="on"
                        @click="selectedOrders.length < orders.length ? selectedOrders = orders : selectedOrders = []"
                >mdi-auto-fix</v-icon>
              </template>
              <span>Alle bestellingen selecteren</span>
            </v-tooltip>
          </span>
        </v-row>

        <v-row no-gutters>
          <v-btn plain @click="getSpreadsheet()" :disabled="!selectedOrders || selectedOrders.length === 0">
            <v-icon color="primary" left>mdi-microsoft-excel</v-icon>
            Exporteren
          </v-btn>
        </v-row>

        <v-divider class="my-4"></v-divider>

        <v-row no-gutters>
          <v-btn plain @click="getPackingSlips()" :disabled="!selectedOrders || selectedOrders.length === 0">
            <v-icon color="primary" left>mdi-file-document-outline</v-icon>
            Pakbonnen
          </v-btn>
        </v-row>

        <v-divider class="my-4"></v-divider>

        <v-row no-gutters>
          <v-btn plain @click="createPostNLShipments()" :disabled="!selectedOrders || selectedOrders.length === 0">
            <v-icon color="primary" left>mdi-barcode-scan</v-icon>
            Verzendlabels
          </v-btn>
        </v-row>

        <v-divider class="my-4"></v-divider>

        <v-row no-gutters>
          <v-btn plain @click="shipOrdersByBatchId()" :disabled="!selectedOrders || selectedOrders.length === 0">
            <v-icon color="primary" left>mdi-cube-send</v-icon>
            Automatisch verwerken
          </v-btn>
        </v-row>

        <v-divider class="my-4"></v-divider>

        <v-row no-gutters>
          <v-btn plain link :to="{name:'ManualShippingBatch'}"
                 :disabled="!selectedOrders || selectedOrders.length === 0">
            <v-icon left color="primary">mdi-cursor-default-outline</v-icon>
            Handmatig verwerken
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import {shipmentDetailsCheck} from "../utils/Utils";
import {setOrderStatus} from "../utils/Utils";
import OrderDetails from '../partials/order/order-details'

export default {
  name: "OrderBatch",
  components: {
    'order-details': OrderDetails
  },
  data: () => ({
    batch_status: null,
    shipments: {
      success: [],
      skipped: [],
      cancelled: [],
      successfulOrders: [],
    },
    error: null,
    loading: false,
    orders: [],
    order_ids: null,
    search: '',
    selectedOrders: [],
    warningReasons: [],
    headers: [
      {text: 'Status', value: 'status', align: 'start'},
      {text: 'Bestelnummer', value: 'orderId'},
      {text: 'Waarschuwingen', value: 'shipmentWarnings'},
      {text: 'Besteldatum', value: 'orderPlacedDateTime'},
      {text: 'Referentie(s)', value: 'orderItems[0].offer.reference'},
      {text: 'Referentie2', value: 'orderItems[1].offer.reference', align: ' d-none'},
      {text: 'Referentie3', value: 'orderItems[2].offer.reference', align: ' d-none'},
      {text: 'Referentie4', value: 'orderItems[3].offer.reference', align: ' d-none'},
      {text: 'Referentie5', value: 'orderItems[4].offer.reference', align: ' d-none'},
      {text: 'Referentie6', value: 'orderItems[5].offer.reference', align: ' d-none'},
      {text: 'Referentie7', value: 'orderItems[6].offer.reference', align: ' d-none'},
      {text: 'Voornaam_shipmentDetails', value: 'shipmentDetails.firstName', align: ' d-none'},
      {text: 'Achternaam_shipmentDetails', value: 'shipmentDetails.surName', align: ' d-none'},
      {text: 'Bedrijfsnaam_shipmentDetails', value: 'shipmentDetails.company', align: ' d-none'},
      {text: 'Bedrijfsnaam_billingDetails', value: 'billingDetails.company', align: ' d-none'},
      {text: 'Postcode_shipmentDetails', value: 'shipmentDetails.zipCode', align: ' d-none'},
      {text: 'Plaats_shipmentDetails', value: 'shipmentDetails.city', align: ' d-none'},
      {text: 'Waarde', value: 'totalOrderPrice'},
      {text: '', value: 'data-table-expand'},
    ],
    filters: {
      status: "ANY",
      minPriceEnabled: false,
      maxPriceEnabled: false,
      minPrice: 0,
      maxPrice: 0,
      advancedDatetimeSwitch: false,
      withDate: true,
      datetimeSimple: {
        start: moment().add(-1, 'week').startOf('day').format('DD-MM-YYYY HH:mm'),
        end: moment().endOf('day').format('DD-MM-YYYY HH:mm')
      },
      datetimeAdvanced: {
        start: moment().format('DD-MM-YYYY HH:mm'),
        end: moment().format('DD-MM-YYYY HH:mm'),
      }
    },
  }),

  computed: {
    cancelledOrders() {
      let cancelled = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(orderItem => {
          if(orderItem.status === "CANCELLED") {
            cancelled++;
          }
        })
      });
      return cancelled;
    },
    openOrders() {
      let open = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(orderItem => {
          if(orderItem.status === "OPEN") {
            open++;
          }
        })
      });
      return open;
    },
    skippedOrders() {
      let skipped = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(orderItem => {
          if(orderItem.status === "SKIPPED") {
            skipped++;
          }
        })
      });
      return skipped;
    },
    shippedOrders() {
      let shipped = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(orderItem => {
          if(orderItem.status === "SHIPPED") {
            shipped++;
          }
        })
      });
      return shipped;
    },
    lvbOrders() {
      let lvb = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(orderItem => {
          if(orderItem.status === "LVB") {
            lvb++;
          }
        })
      });
      return lvb;
    },
    queuedOrders() {
      let queued = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(orderItem => {
          if(orderItem.status === "QUEUED") {
            queued++;
          }
        })
      });
      return queued;
    },
    orderItemsCount() {
      let items = 0;
      this.orders.forEach(order => {
        order.orderItems.forEach(() => {
          items++
        })
      })
      return items;
    }
  },

  mounted() {
    this.fetchOrders();

    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/order-batches/' + this.$route.params.id)
        .then(response => {
          this.batch_status = response.data.status;
          setTimeout(this.startRepeatingRefresh,60000);
          console.log(response.data);
        })
  },

  methods: {
    fetchOrders() {
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/batch/' + this.$route.params.id)
          .then(response => {
            let {orders, warningReasons} = shipmentDetailsCheck(response.data);
            orders.forEach((order) => {
              return setOrderStatus(order);
            });
            this.warningReasons = warningReasons;
            this.orders = orders;
            this.order_ids = this.orders.map(order => {
              return order.orderId;
            });
          })
    },
    getSpreadsheet() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/spreadsheet', this.selectedOrders, {
        responseType: 'blob'
      })
          .then(response => {
            const now = moment().format('YYYY-MM-DDThh_mm_ss');
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'bol_orders_export_' + now + '.xlsx'); //or any other extension
            document.body.appendChild(link);
            link.click();
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    shipOrdersByBatchId() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipments/batch/' + this.$route.params.id, this.selectedOrders)
          .then(response => {
            this.loading = false;
            this.batch_status = "PROCESSING";
            setTimeout(this.startRepeatingRefresh,60000);
            console.log(response);
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getPackingSlips() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/packing-slips', this.selectedOrders, {
        responseType: 'arraybuffer'
      })
          .then(response => {
            this.loading = false;
            console.log(response);

            if(response.headers['content-type'] === 'application/pdf') {
              const now = moment().format('YYYY-MM-DDThh_mm_ss');
              let blob = new Blob([response.data], {type: 'application/pdf'})
              let link = document.createElement('a')
              link.href = window.URL.createObjectURL(blob)
              link.setAttribute('download', 'Pakbonnen ' + now + '.pdf'); //or any other extension
              link.click()
            }
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    createPostNLShipments() {
      this.loading = true;
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/shipments/labels/postnl', this.selectedOrders, {
        responseType: 'arraybuffer'
      })
          .then(response => {
            this.loading = false;
            console.log(response);

            if(response.headers['content-type'] === 'application/pdf') {
              const now = moment().format('YYYY-MM-DDThh_mm_ss');
              let blob = new Blob([response.data], {type: 'application/pdf'})
              let link = document.createElement('a')
              link.href = window.URL.createObjectURL(blob)
              link.setAttribute('download', 'Labels ' + now + '.pdf'); //or any other extension
              link.click()
            }
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    formatOrderTime(time, format) {
      return moment(time).locale('nl').format(format);
    },
    getOrdersInBatch() {
      let parameters = "";
      this.loading = true;
      let options = this.getOptionsFromFilters(this.filters);
      Object.entries(options).forEach(entry => {
        const [option, value] = entry;
        parameters = parameters + option + "=" + value + "&";
      });
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/batch/' + this.$route.params.id + '?' + parameters)
          .then(response => {
            let {orders, warningReasons} = shipmentDetailsCheck(response.data);
            orders.forEach((order) => {
              return setOrderStatus(order);
            });
            this.warningReasons = warningReasons;
            this.orders = orders;
            this.order_ids = this.orders.map(order => {
              return order.orderId;
            });
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getOptionsFromFilters(filters) {
      let options = {};
      if (filters.status && filters.status !== "ANY") {
        options.status = filters.status;
      }
      if (filters.minPriceEnabled) {
        options.minPrice = filters.minPrice;
      }
      if (filters.maxPriceEnabled) {
        options.maxPrice = filters.maxPrice;
      }
      if (filters.withDate) {
        if (filters.advancedDatetimeSwitch) {
          options.datetimeStart = moment(this.filters.datetimeAdvanced.start, "DD-MM-YYYY HH:mm").toISOString()
          options.datetimeEnd = moment(this.filters.datetimeAdvanced.end, "DD-MM-YYYY HH:mm").toISOString()
        } else {
          options.datetimeStart = moment(this.filters.datetimeSimple.start, "DD-MM-YYYY HH:mm").toISOString()
          options.datetimeEnd = moment(this.filters.datetimeSimple.end, "DD-MM-YYYY HH:mm").toISOString()
        }
      }
      return options;
    },
    startRepeatingRefresh() {
      if(this.batch_status === "PROCESSING") {
        this.fetchOrders();

        axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/order-batches/' + this.$route.params.id)
            .then(response => {
              this.batch_status = response.data.status;
              setTimeout(this.startRepeatingRefresh,60000);
              console.log(response.data);
            });
      }
    },
    getMdiIcon(status) {
      let icon = "";
      switch (status) {
        case "OPEN":
          icon = "mdi-circle-small";
          break;
        case "QUEUED":
          icon = "mdi-timeline-clock";
          break;
        case "SHIPPED":
          icon = "mdi-checkbox-marked-circle";
          break;
        case "SKIPPED":
          icon = "mdi-debug-step-over";
          break;
        case "CANCELLED":
          icon = "mdi-block-helper";
          break;
        case "LVB":
          icon = "mdi-check-decagram-outline";
          break;
      }
      return icon;
    }
  },
}
</script>

<style scoped lang="scss">
.__expansion-panel-header {
  font-size: 12px;
}

.order-status {
  &.--SHIPPED {
    color: #ffffff;
    background-color: #1f7acd;
  }

  &.--LVB {
    color: #000000;
    background-color: #09d6f1;
    text-transform: uppercase !important;
  }

  &.--CANCELLED {
    color: #ffffff;
    background-color: #ff2f2f;
  }

  &.--SKIPPED {
    color: #000000;
    background-color: #ff9849;
  }

  &.--OPEN {
    color: #000000;
    background-color: #fff5da;
  }
}

.orderItems {
  line-height: 12px;

  .__list {
    background-color: transparent;
    font-size: 12px;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .reference {
    min-height: unset;

    .-quantity {
      border: 1px solid #acacac;
      border-radius: 20px;
      font-size: 0.9em;
      font-family: Consolas, sans-serif;
      padding: 2px 4px;
    }
  }
}
</style>
