<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col>
        <h2>Bestellingen ({{ orders.length }})</h2>
      </v-col>
    </v-row>
    <v-row v-if="error">
      <v-col>
        <v-alert type="error">Server Error. Probeer het nog een keer.</v-alert>
      </v-col>
      <v-col cols="12"><code>{{ error }}</code></v-col>
    </v-row>
    <v-row class="filters">
      <v-col>
        <v-card outlined>
          <v-expansion-panels flat>
            <v-expansion-panel>
              <v-expansion-panel-header><span><v-icon left color="primary">mdi-filter</v-icon>Filters</span>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row no-gutters>
                  <v-col class="px-2 mt-2">
                    <v-select
                        v-model="filters.status"
                        :items="['OPEN', 'SHIPPED', 'CANCELLED']"
                        label="Status"
                        disabled
                    ></v-select>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="flex-grow-0 mr-1">
                    <v-checkbox v-model="filters.minPriceEnabled"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-text-field
                        label="Min."
                        v-model="filters.minPrice"
                        :disabled="!filters.minPriceEnabled"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col class="flex-grow-0 mr-1">
                    <v-checkbox v-model="filters.maxPriceEnabled"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-text-field
                        label="Max."
                        v-model="filters.maxPrice"
                        :disabled="!filters.maxPriceEnabled"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row no-gutters>
                  <v-col class="flex-grow-0 mr-1" cols="12">
                    <v-switch
                        v-model="filters.advancedDatetimeSwitch"
                        :label="filters.advancedDatetimeSwitch && 'Geavanceerde datum' || 'Simpele datum'"
                    ></v-switch>
                  </v-col>
                  <v-col v-show="!filters.advancedDatetimeSwitch">
                    <VueCtkDateTimePicker
                        v-model="filters.datetimeSimple"
                        id="datetimeSimple"
                        label="Selecteer periode"
                        :overlay="true"
                        locale="nl"
                        format="DD-MM-YYYY HH:mm"
                        formatted="ddd DD MMM YYYY, HH:mm"
                        :range="true"
                        :custom-shortcuts="[
                        { key: 'Vandaag', label: 'Vandaag', value: 'day' },
                        { key: 'Gisteren', label: 'Gisteren', value: '-day' },
                        { key: 'Deze week', label: 'Deze week', value: 'isoWeek' },
                        { key: 'Vorige week', label: 'Vorige week', value: '-isoWeek' },
                        { key: 'Laatste 7 dagen', label: 'Laatste 7 dagen', value: 7 },
                        { key: 'Laatste 30 dagen', label: 'Laatste 30 dagen', value: 30 },
                        { key: 'Deze maand', label: 'Deze maand', value: 'month' },
                        { key: 'Vorige maand', label: 'Vorige maand', value: '-month' },
                        { key: 'Dit jaar', label: 'Dit jaar', value: 'year' },
                        { key: 'Vorig jaar', label: 'Vorig jaar', value: '-year' }
                        ]"
                        :only-date="false"
                        :color="this.$vuetify.theme.currentTheme.primary"
                    ></VueCtkDateTimePicker>
                  </v-col>
                  <v-col v-show="filters.advancedDatetimeSwitch" cols="5" class="mr-2">
                    Van
                    <VueCtkDateTimePicker
                        v-model="filters.datetimeAdvanced.start"
                        id="datetimeAdvanced_start"
                        label="Selecteer periode"
                        :overlay="true"
                        locale="nl"
                        format="DD-MM-YYYY HH:mm"
                        :color="this.$vuetify.theme.currentTheme.primary"
                        button-now-translation="Nu"
                    ></VueCtkDateTimePicker>
                  </v-col>
                  <v-col v-show="filters.advancedDatetimeSwitch" cols="5">
                    Tot
                    <VueCtkDateTimePicker
                        v-model="filters.datetimeAdvanced.end"
                        id="datetimeAdvanced_end"
                        label="Selecteer periode"
                        :overlay="true"
                        locale="nl"
                        format="DD-MM-YYYY HH:mm"
                        :color="this.$vuetify.theme.currentTheme.primary"
                        button-now-translation="Nu"
                    ></VueCtkDateTimePicker>
                  </v-col>
                </v-row>

                <v-row no-gutters class="mt-4">
                  <v-col>
                    <v-btn outlined color="primary" small
                           @click="getOrders()"
                    >
                      <v-icon left>mdi-filter</v-icon>
                      Toepassen
                    </v-btn>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
    </v-row>
    <!--FILTERS END-->

    <!--ORDER START HERE-->
    <v-row>
      <v-col cols="12" class="col-md-4 pl-3">
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Zoeken"
            single-line
            dense
            hide-details
            outlined
        ></v-text-field>
      </v-col>
      <v-col class="ml-2" v-if="warningReasons.length > 0">
        <v-tooltip bottom color="black">
          <template v-slot:activator="{ on, attrs }">
            <v-chip v-bind="attrs"
                    v-on="on"
                    label color="orange">
              <v-icon>mdi-alert</v-icon>
            </v-chip>
          </template>
          <ul>
            <li v-for="(warningReason, wIndex) in warningReasons" :key="wIndex">
              {{warningReason}}
            </li>
          </ul>
        </v-tooltip>
        Waarschuwingen: {{warningReasons.length}}
      </v-col>
      <v-col class="orders-container" cols="10">
        <v-data-table
            v-model="selectedOrders"
            :headers="headers"
            :items="orders"
            :single-select="false"
            item-key="orderId"
            show-select
            :search="search"
            :loading="loading"
            :footer-props="{
              'items-per-page-options': [-1, 25, 50, 100, 200, 250, 300, 400, 500, 600, 700, 800, 900, 1000]
            }"
            :items-per-page="100"
            show-expand
            multi-sort
        >
          <template v-slot:item.status="{item}">
            <v-chip
                :color="item.status === 'SHIPPED' && '#1f7acd' || '#fff5da'"
                :text-color="item.status === 'SHIPPED' && 'white' || 'black'"
                class="text-lowercase align-self-center"
                small
            >
              <v-avatar left class="d-none" :class="{'d-inline-flex': item.status === 'SHIPPED'}">
                <v-icon small>mdi-checkbox-marked-circle</v-icon>
              </v-avatar>
              {{ item.status }}
            </v-chip>
          </template>

          <template v-slot:item.orderId="{item}">
            <router-link :to="{name: 'Order', params: {id: item.orderId}}">{{ item.orderId }}</router-link>
          </template>

          <template v-slot:item.shipmentWarnings="{item}">
            <v-tooltip bottom v-if="item.shipmentWarnings.length > 0">
              <template v-slot:activator="{ on, attrs }">
                <v-chip v-bind="attrs"
                        v-on="on"
                        label color="orange"
                        link :to="{name: 'EditOrder', params: {id: item.orderId}}"
                >
                  <v-icon>mdi-alert</v-icon>
                </v-chip>
              </template>
              <ul>
                <li v-for="(warningReason, wIndex) in item.shipmentWarnings" :key="wIndex">
                  {{warningReason}}
                </li>
              </ul>
            </v-tooltip>
          </template>

          <template v-slot:item.orderPlacedDateTime="{item}">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs"
                              v-on="on"
                        >{{ formatOrderTime(item.orderPlacedDateTime, 'DD MMM YYYY') }}</span>
              </template>
              <span>{{ formatOrderTime(item.orderPlacedDateTime, 'ddd DD-MM-YYYY, HH:mm:ss') }}</span>
            </v-tooltip>
          </template>

          <template v-slot:item.orderItems[0].offer.reference="{item}">
            <v-row no-gutters>
              <v-col class="orderItems py-1">
                <v-list class="pa-0 __list">
                  <v-list-item class="py-1 px-0 reference"
                               v-for="(orderItem, itemIndex) in item.orderItems" :key="itemIndex">
                    <span class="-quantity">{{ orderItem.quantity }}</span>
                    <span class="ml-2">{{ orderItem.offer.reference }}</span>
                  </v-list-item>
                </v-list>
              </v-col>
            </v-row>
          </template>

          <template v-slot:item.totalOrderPrice="{item}">
            <span>{{
                new Intl.NumberFormat('nl-NL', {
                  style: 'currency',
                  currency: 'EUR'
                }).format(item.totalOrderPrice)
              }}</span>
          </template>

          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <div class="ma-4 mb-8">
                <order-details :order="item"></order-details>
                <pre id="json" class="json mt-4">{{ item }}</pre>
              </div>
            </td>
          </template>

        </v-data-table>
      </v-col>

      <v-col class="sidebar" cols="2">
        <v-row no-gutters class="pl-3 mb-4">
          <span class="text-uppercase text-subtitle-2">{{ selectedOrders.length }} geselecteerd
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <v-icon class="mb-1" right
                        color="primary"
                        v-bind="attrs"
                        v-on="on"
                        @click="selectedOrders.length < orders.length ? selectedOrders = orders : selectedOrders = []"
                >mdi-auto-fix</v-icon>
              </template>
              <span>Alle bestellingen selecteren</span>
            </v-tooltip>
          </span>
        </v-row>

        <v-row no-gutters>
          <v-btn plain @click="syncOrders" disabled>
            <v-icon color="primary" left>mdi-sync</v-icon>
            sync database
          </v-btn>
        </v-row>

        <v-divider></v-divider>

        <v-row no-gutters>
          <v-btn plain @click="createBatch" :disabled="!selectedOrders || selectedOrders.length === 0">
            <v-icon color="primary" left>mdi-arrow-right-circle</v-icon>
            Maak Batch
          </v-btn>
        </v-row>

      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import * as moment from "moment";
import {shipmentDetailsCheck} from "../utils/Utils";
import OrderDetails from '../partials/order/order-details'

export default {
  name: "ProcessOrders",
  components: {
    'order-details': OrderDetails
  },
  data: () => ({
    orders: [],
    loading: false,
    error: null,
    search: '',
    selectedOrders: [],
    warningReasons: [],
    headers: [
      {text: 'Status', value: 'status', align: 'start'},
      {text: 'Bestelnummer', value: 'orderId'},
      {text: 'Waarschuwingen', value: 'shipmentWarnings'},
      {text: 'Besteldatum', value: 'orderPlacedDateTime'},
      {text: 'Referentie(s)', value: 'orderItems[0].offer.reference'},
      {text: 'Referentie2', value: 'orderItems[1].offer.reference', align: ' d-none'},
      {text: 'Referentie3', value: 'orderItems[2].offer.reference', align: ' d-none'},
      {text: 'Referentie4', value: 'orderItems[3].offer.reference', align: ' d-none'},
      {text: 'Referentie5', value: 'orderItems[4].offer.reference', align: ' d-none'},
      {text: 'Referentie6', value: 'orderItems[5].offer.reference', align: ' d-none'},
      {text: 'Referentie7', value: 'orderItems[6].offer.reference', align: ' d-none'},
      {text: 'Voornaam_shipmentDetails', value: 'shipmentDetails.firstName', align: ' d-none'},
      {text: 'Achternaam_shipmentDetails', value: 'shipmentDetails.surName', align: ' d-none'},
      {text: 'Bedrijfsnaam_shipmentDetails', value: 'shipmentDetails.company', align: ' d-none'},
      {text: 'Bedrijfsnaam_billingDetails', value: 'billingDetails.company', align: ' d-none'},
      {text: 'Postcode_shipmentDetails', value: 'shipmentDetails.zipCode', align: ' d-none'},
      {text: 'Plaats_shipmentDetails', value: 'shipmentDetails.city', align: ' d-none'},
      {text: 'Waarde', value: 'totalOrderPrice'},
      {text: '', value: 'data-table-expand'},
    ],
    filters: {
      status: "OPEN",
      minPriceEnabled: false,
      maxPriceEnabled: false,
      minPrice: 0,
      maxPrice: 0,
      advancedDatetimeSwitch: false,
      datetimeSimple: {
        start: moment().add(-1, 'week').startOf('day').format('DD-MM-YYYY HH:mm'),
        end: moment().endOf('day').format('DD-MM-YYYY HH:mm')
      },
      datetimeAdvanced: {
        start: moment().format('DD-MM-YYYY HH:mm'),
        end: moment().format('DD-MM-YYYY HH:mm'),
      }
    },
  }),

  mounted() {
    axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders?fulfilmentMethod=FBR')
        .then(response => {
          let {orders, warningReasons} = shipmentDetailsCheck(response.data);
          this.warningReasons = warningReasons;
          this.orders = orders;
        })
  },

  methods: {
    syncOrders() {
      this.orders = [];
      this.loading = true;
      this.warningOrders = 0;
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/refresh?cancellations=true')
          .then(response => {
            let {orders, warningReasons} = shipmentDetailsCheck(response.data);
            this.warningReasons = warningReasons;
            this.orders = orders;
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
          })
    },
    getOrders() {
      let parameters = "";
      this.loading = true;
      let options = this.getOptionsFromFilters(this.filters);
      Object.entries(options).forEach(entry => {
        const [option, value] = entry;
        parameters = parameters + option + "=" + value + "&";
      });
      axios.get(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders?' + parameters)
          .then(response => {
            let {orders, warningReasons} = shipmentDetailsCheck(response.data);
            this.warningReasons = warningReasons;
            this.orders = orders;
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            this.error = error.response;
            console.log(error);
          })
    },
    getOptionsFromFilters(filters) {
      let options = {};
      if (filters.status) {
        options.status = filters.status;
      }
      if (filters.minPriceEnabled) {
        options.minPrice = filters.minPrice;
      }
      if (filters.maxPriceEnabled) {
        options.maxPrice = filters.maxPrice;
      }
      if (filters.advancedDatetimeSwitch) {
        options.datetimeStart = moment(this.filters.datetimeAdvanced.start, "DD-MM-YYYY HH:mm").toISOString()
        options.datetimeEnd = moment(this.filters.datetimeAdvanced.end, "DD-MM-YYYY HH:mm").toISOString()
      } else if (filters.datetimeSimple) {
        options.datetimeStart = moment(this.filters.datetimeSimple.start, "DD-MM-YYYY HH:mm").toISOString()
        options.datetimeEnd = moment(this.filters.datetimeSimple.end, "DD-MM-YYYY HH:mm").toISOString()
      }

      return options;
    },
    formatOrderTime(time) {
      return moment(time).format('DD-MM-YYYY HH:mm:ss');
    },
    createBatch() {
      const order_ids = this.selectedOrders.map(order => {
        return order.orderId;
      })
      axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/orders/batch', order_ids)
          .then(response => {
            const batch_id = response.data.id;
            this.$router.push({name: 'orderBatch', params: {id: batch_id}});
          })
    },
  }
}
</script>

<style scoped lang="scss">
.filters {
  .v-expansion-panels {
    z-index: 2;
  }
}

.orders-container {
  z-index: 1;
}

.orderItems {
  line-height: 12px;

  .__list {
    background-color: transparent;
    font-size: 12px;
  }

  .reference {
    min-height: unset;

    .-quantity {
      border: 1px solid #acacac;
      border-radius: 20px;
      font-size: 0.9em;
      font-family: Consolas, sans-serif;
      padding: 2px 4px;
    }
  }
}
</style>
