<template>
  <v-container>
    <v-row class="loading" v-if="loading">
      <v-col>
        <v-progress-linear :active="loading" indeterminate color="primary"></v-progress-linear>
      </v-col>
    </v-row>
    <v-form v-model="validForm" ref="form" @submit.prevent="createShippingLabel">
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field v-model="reference"
                        label="referentie"
                        outlined
                        @input="onReferenceChange"
                        hide-details="auto"
                        :rules="[v => (v || '' ).length <= 35 || 'Referentie is langer dan 35 karakters.']"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field v-model="productCodeDelivery"
                        label="shipment product code"
                        type="number"
                        outlined
                        hide-details="auto"
                        :rules="[v => (v || null ) !== null || 'Vul een product code in']"
          >
            <template v-slot:append>
              <v-dialog v-model="deliveryProductCode_helpDialog" width="500">
                <template v-slot:activator="{on,attrs}">
                  <v-icon v-bind="attrs" v-on="on">mdi-help-circle</v-icon>
                </template>
                <v-card>
                  <v-card-title>Kies een productcode</v-card-title>
                  <v-card-text>
                    <v-row>
                      <v-col>
                        Selecteer de PostNL Product code waarmee je een label wilt maken
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col>
                        <span>Veelgebruikte product codes:</span>

                        <v-simple-table>
                          <thead>
                          <tr>
                            <th>product code</th>
                            <th>beschrijving</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr @click="productCodeDelivery = 2929; deliveryProductCode_helpDialog = false;">
                            <td>2929</td>
                            <td>Brievenbuspakje+ business</td>
                          </tr>
                          <tr @click="productCodeDelivery = 2928; deliveryProductCode_helpDialog = false;">
                            <td>2928</td>
                            <td>Brievenbuspakje+ consumer</td>
                          </tr>
                          <tr @click="productCodeDelivery = 3085; deliveryProductCode_helpDialog = false;">
                            <td>3085</td>
                            <td>Standaard pakket</td>
                          </tr>
                          <tr @click="productCodeDelivery = 3089; deliveryProductCode_helpDialog = false;">
                            <td>3089</td>
                            <td>Handtekening voor ontvangst + alleen huisadres</td>
                          </tr>
                          <tr @click="productCodeDelivery = 4941; deliveryProductCode_helpDialog = false;">
                            <td>4941</td>
                            <td>Pakket Nederland-België + alleen huisadres</td>
                          </tr>
                          </tbody>
                        </v-simple-table>
                        <span>
                      Klik <a href="https://developer.postnl.nl/browse-apis/send-and-track/products/" target="_blank">hier</a>
                      voor een volledig overzicht.</span>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </template>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-btn @click="receiver = dataio_returnaddress" color="primary">DataIO Retouradres</v-btn>
        </v-col>
        <v-col>
          <v-switch v-model="use_sender" label="verzendadres" hide-details="auto" class="mt-0"></v-switch>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-container class="ma-0 pa-0">
            <h4>Ontvanger</h4>
            <v-select v-model="receiver.countryCode" label="land"
                      :items="countryCodes" item-value="countryCode" item-text="country"
            ></v-select>

            <v-text-field v-model="receiver.firstName" label="voornaam" dense
                          :rules="[v => (v || '' ).length <= 35 || 'Voornaam is langer dan 35 karakters.']"
            ></v-text-field>
            <v-text-field v-model="receiver.surName" label="achternaam" dense
                          :rules="[v => (v || '' ).length <= 35 || 'Achternaam is langer dan 35 karakters.',
                          v => (v || null ) !== null || 'Vul een achternaam in']"
            ></v-text-field>
            <v-text-field v-model="receiver.company" label="bedrijfsnaam" dense
                          :rules="[v => (v || '' ).length <= 35 || 'Bedrijfsnaam is langer dan 35 karakters.']"
            ></v-text-field>

            <v-row no-gutters class="mt-4">
              <v-col class="col-md-6">
                <v-text-field v-model="receiver.zipCode" label="postcode" dense
                              :rules="[v => (v || null ) !== null || 'Vul een postcode in']"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row no-gutters class="mb-4">
              <v-col cols="12" class="col-sm-6 col-md-6 ">
                <v-text-field v-model="receiver.houseNumber" label="huisnummer" dense
                              :rules="[v => (v || null ) !== null || 'Vul een huisnummer in']"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="col-sm-6 col-md-6 pl-sm-6">
                <v-text-field v-model="receiver.houseNumberExtension" label="huisnummer toevoeging"
                              dense></v-text-field>
              </v-col>
            </v-row>


            <v-text-field v-model="receiver.streetName" label="straatnaam" dense
                          :rules="[v => (v || null ) !== null || 'Vul een straatnaam in']"
            ></v-text-field>
            <v-text-field v-model="receiver.city" label="plaatsnaam" dense
                          :rules="[v => (v || null ) !== null || 'Vul een plaatsnaam in']"
            ></v-text-field>
          </v-container>
        </v-col>

        <v-col cols="6">
          <v-container class="ma-0 pa-0" v-if="use_sender">
            <h4>Verzender</h4>
            <v-select v-model="sender.countryCode" label="land"
                      :items="countryCodes" item-value="countryCode" item-text="country"
            ></v-select>

            <v-text-field v-model="sender.firstName" label="voornaam" dense
                          :rules="[v => (v || '' ).length <= 35 || 'Voornaam is langer dan 35 karakters.']"
            ></v-text-field>
            <v-text-field v-model="sender.surName" label="achternaam" dense
                          :rules="[v => (v || '' ).length <= 35 || 'Achternaam is langer dan 35 karakters.',
                          v => (v || null ) !== null || 'Vul een achternaam in']"
            ></v-text-field>
            <v-text-field v-model="sender.company" label="bedrijfsnaam" dense
                          :rules="[v => (v || '' ).length <= 35 || 'Bedrijfsnaam is langer dan 35 karakters.']"
            ></v-text-field>

            <v-row no-gutters class="mt-4">
              <v-col class="col-md-6">
                <v-text-field v-model="sender.zipCode" label="postcode" dense
                              :rules="[v => (v || null ) !== null || 'Vul een postcode in']"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row no-gutters class="mb-4">
              <v-col cols="12" class="col-sm-6 col-md-6 ">
                <v-text-field v-model="sender.houseNumber" label="huisnummer" dense
                              :rules="[v => (v || null ) !== null || 'Vul een huisnummer in']"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="col-sm-6 col-md-6 pl-sm-6">
                <v-text-field v-model="sender.houseNumberExtension" label="huisnummer toevoeging"
                              dense></v-text-field>
              </v-col>
            </v-row>


            <v-text-field v-model="sender.streetName" label="straatnaam" dense
                          :rules="[v => (v || null ) !== null || 'Vul een straatnaam in']"
            ></v-text-field>
            <v-text-field v-model="sender.city" label="plaatsnaam" dense
                          :rules="[v => (v || null ) !== null || 'Vul een plaatsnaam in']"
            ></v-text-field>
          </v-container>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-btn type="submit">Maak label</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "ShippingLabel",
  data: () => ({
    error: null,
    loading: false,
    reference: null,
    receiver: {
      countryCode: 'NL',
      city: null,
      company: null,
      firstName: null,
      houseNumber: null,
      houseNumberExtension: null,
      surName: null,
      streetName: null,
      zipCode: null,
    },
    sender: {
      countryCode: 'NL',
      city: null,
      company: null,
      firstName: null,
      houseNumber: null,
      houseNumberExtension: null,
      surName: null,
      streetName: null,
      zipCode: null,
    },
    countryCodes: [
      {countryCode: 'NL', country: 'Nederland'},
      {countryCode: 'BE', country: 'België'},
    ],
    dataio_returnaddress: {
      countryCode: 'NL',
      city: 'ROTTERDAM',
      company: 'DataIO retouren',
      firstName: 't.a.v.',
      houseNumber: 747,
      houseNumberExtension: null,
      surName: "RMA#",
      streetName: 'Postbus',
      zipCode: '3000AS',
    },
    use_sender: false,
    productCodeDelivery: null,
    deliveryProductCode_helpDialog: false,
    validForm: true,
  }),

  mounted() {

  },

  methods: {
    onReferenceChange(input) {
      this.dataio_returnaddress.surName = "RMA#" + input;
      this.receiver.surName = "RMA#" + input;
    },
    createShippingLabel() {
      if (this.$refs.form.validate()) {
        const data = {
          receiver: this.receiver,
          sender: this.use_sender ? this.sender : null,
          reference: this.reference,
          productCodeDelivery: this.productCodeDelivery,
        }

        this.loading = true;
        axios.post(process.env.VUE_APP_JORDIO_BACKEND_SERVER + '/bare-shipping-label', data, {responseType: 'blob'})
            .then((response) => {
              const url = window.URL.createObjectURL(new Blob([response.data], {type: response.headers['content-type']}));
              const link = document.createElement('a');
              link.href = url;
              link.target = '_blank';
              document.body.appendChild(link);
              link.click();
              this.loading = false;
            })
            .error((error) => {
              this.error = error;
              console.log(error);
            })
            .finally(() => {
              this.loading = false;
            })
      }
    }
  }
}
</script>

<style scoped lang="scss">
</style>
