<template>
  <v-app>
    <v-app-bar app color="primary">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-row>
        <v-col class="text-right">
          <a :href="VUE_APP_JORDIO_BACKEND_SERVER" class="black--text text-decoration-none"><span
              class="font-weight-bold">{{ VUE_APP_REGION }}</span></a>
        </v-col>
      </v-row>
    </v-app-bar>

    <v-navigation-drawer app
                         v-model="drawer"
    >
      <v-list>
        <v-list-item link to="/">
          <v-list-item-title>
            <v-icon left color="primary">mdi-home</v-icon>
            Home
          </v-list-item-title>
        </v-list-item>

        <v-divider class="my-2"></v-divider>

        <v-list-item link :to="{path: '/orders'}">
          <v-list-item-title>
            <v-icon left color="primary">mdi-shopping-outline</v-icon>
            Orders
          </v-list-item-title>
        </v-list-item>

        <v-list-item link :to="{name: 'process-orders'}">
          <v-list-item-title>
            <v-icon left color="primary">mdi-package-variant</v-icon>
            Verwerken
          </v-list-item-title>
        </v-list-item>

        <v-list-item link to="/batches">
          <v-list-item-title>
            <v-icon left color="primary">mdi-inbox-multiple-outline</v-icon>
            Batches
          </v-list-item-title>
        </v-list-item>

        <v-divider class="my-2"></v-divider>

        <v-list-item link to="/offers">
          <v-list-item-title>
            <v-icon left color="primary">mdi-tag</v-icon>
            Producten
          </v-list-item-title>
        </v-list-item>

        <v-divider class="my-2"></v-divider>

        <v-list-item link to="/shipping-label">
          <v-list-item-title>
            <v-icon left color="primary" small>mdi-label-outline</v-icon>
            <span class="small-menu-item">Verzendlabel</span>
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/files">
          <v-list-item-title>
            <v-icon left color="primary" small>mdi-file-search-outline</v-icon>
            <span class="small-menu-item">Bestanden</span>
          </v-list-item-title>
        </v-list-item>
        <v-list-item link to="/options">
          <v-list-item-title>
            <v-icon left color="primary" small>mdi-cog</v-icon>
            <span class="small-menu-item">Instellingen</span>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {},

  data: () => ({
    drawer: false,
    VUE_APP_REGION: process.env.VUE_APP_REGION,
    VUE_APP_JORDIO_BACKEND_SERVER: process.env.VUE_APP_JORDIO_BACKEND_SERVER,
  }),

  created() {
    document.title = process.env.VUE_APP_REGION_CODE + " - Jordio"
  }
};
</script>

<style scoped lang="scss">
@import '~vuetify/src/styles/styles.sass';

.small-menu-item {
  font-size: 0.75em;
}
</style>